.breadcrumb {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
}

.la-bodega {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: space-between;

        .detalle {
            display: flex;
            flex-wrap: wrap;
            color: #fFF;
            align-items: flex-start;
            align-content: center;
            justify-content: flex-start;
            margin: 20px 0 0;
            width: 50%;

            > img {
                width: 35%;
            }

            p {
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
            }

            .name {
                h2 {
                    margin: 0 auto;
                    font-family: Times-bold;
                    font-style: normal;
                    font-size: 35px;
                    line-height: 40px;
                    color: #FFFFFF;
                }

                margin-left: 20px;

                p.country {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;
                    color: #FFFFFF;
                    margin: 0 auto;
                    margin-top: 15px;

                    img {
                        width: 21px;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }
            }
        }

        .video-iframe {
            width: 45%;

            iframe {
                width: 100%;
            }
        }
    }
}

.productos-bodega {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;

        .filtros {
            margin: 40px 0;

            .content {
                .otros-filtros {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    margin: 30px 0;

                    label {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        opacity: 0.6;
                        margin-right: 10px;
                    }

                    select {
                        &:hover {
                            border: 1px solid var(--dorado-uno);
                        }

                        &:active {
                            border: 1px solid var(--dorado-uno);
                        }

                        border: 1px solid #524735;
                        border-radius: 23px;
                        background: transparent;
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #C5C5C5;
                        height: 36px;
                        padding: 0 25px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: all .3s ease;
                        outline: none;
                        appearance: unset;
                        -moz-appearance: unset;
                        -webkit-appearance: unset;
                        -o-appearance: unset;
                        -ms-appearance: unset;
                        outline: none;
                        -moz-outline: none;
                        -webkit-outline: none;
                        -o-outline: none;
                        -ms-outline: none;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        -o-box-sizing: border-box;
                        -ms-box-sizing: border-box;
                    }

                    input {
                        &:hover {
                            border: 1px solid var(--dorado-uno);
                        }

                        border: 1px solid #524735;
                        border-radius: 23px;
                        background: transparent;
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #C5C5C5;
                        height: 36px;
                        padding: 0 25px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: all .3s ease;
                        outline: none;
                    }

                    button {
                        &:hover {
                            border: 1px solid var(--dorado-uno);
                        }

                        border: 1px solid #524735;
                        border-radius: 23px;
                        background: transparent;
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #C5C5C5;
                        height: 36px;
                        padding: 0 25px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: all .3s ease;
                        outline: none;
                    }

                    input.active {
                        border: 1px solid var(--dorado-uno);
                    }

                    button.active {
                        border: 1px solid var(--dorado-uno);
                    }

                    select.precio {
                        background: url($images-base-path + "select_precio.png") no-repeat scroll;
                        background-position: right 15px top 10px;
                        background-size: 19px auto;
                        z-index: 1;
                        position: relative;
                    }
                }

                .filtro-ppal {
                    select {
                        appearance: unset;
                        -moz-appearance: unset;
                        -webkit-appearance: unset;
                        -o-appearance: unset;
                        -ms-appearance: unset;
                        outline: none;
                        -moz-outline: none;
                        -webkit-outline: none;
                        -o-outline: none;
                        -ms-outline: none;
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        -o-box-sizing: border-box;
                        -ms-box-sizing: border-box;
                    }
                }
            }
        }

        .vinos-bodega {
            margin-top: 60px;

            .content-vinos-bodega {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                align-content: center;
                justify-content: flex-start;

                .item {
                    max-width: 295px;
                    text-align: center;
                    margin-bottom: 60px;

                    .imagen {
                        img {
                            width: 100%;
                            transition: all .3s ease;
                        }

                        width: 50%;
                        margin: 0 auto;
                        background: url($images-base-path + "elipse_fondo_botella.png");
                        background-repeat: no-repeat;
                        background-position: bottom;
                        background-size: contain;
                        position: relative;
                        overflow: hidden;
                        padding-top: 10px;
                    }

                    &:hover {
                        .imagen {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }

                    h3 {
                        font-family: Times-Bold;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: -0.005em;
                        color: #FFFFFF;
                        margin-bottom: 10px;
                    }

                    p {
                        margin: 0 0 15px 0;
                        text-align: center;

                        > span {
                            font-family: Times-bold;
                            font-style: normal;
                            font-size: 25px;
                            line-height: 140%;
                            text-align: center;
                            letter-spacing: -0.005em;
                            color: #9E7E53;
                            margin-left: 7px;

                            .monto {
                                font-size: 34px;
                                line-height: 140%;
                                text-align: center;
                                letter-spacing: -0.005em;
                            }
                        }
                    }

                    .cta-btn {
                        margin-top: 25px;

                        a {
                            background: var(--dorado-uno);
                            border-radius: 32px;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: #FFFFFF;
                            padding: 0 25px 0 50px;
                            height: 48px;
                            transition: all .3s ease;
                            margin-bottom: 0;
                            display: inline-flex;
                            align-items: center;
                            align-content: center;
                            justify-content: center;
                            width: auto;
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: 500;
                            position: relative;

                            &:before {
                                content: "";
                                position: absolute;
                                left: 20px;
                                top: 11px;
                                background: url($images-base-path + "carrito.png");
                                padding: 12px;
                                background-repeat: no-repeat;
                            }

                            &:hover {
                                text-decoration: none;
                                box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
                            }
                        }
                    }

                    a {
                        padding-left: 10px;
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        letter-spacing: -0.015em;
                        color: var(--dorado-uno);
                        margin: 20px 0 10px;
                        display: inline-block;
                    }
                }
            }
        }

        .vinos-bodega.boxes {
            .content-vinos-bodega {
                .item {
                    .descripcion-vino {
                        > h3 {
                            font-family: Times-bold;
                            font-style: normal;
                            font-size: 18px;
                            line-height: 140%;
                            text-align: center;
                            letter-spacing: -0.005em;
                            color: #FFFFFF;
                        }

                        > p {
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 140%;
                            text-align: center;
                            letter-spacing: -0.005em;
                            color: #FFFFFF;
                            margin-top: 0;
                        }
                    }

                    .imagen {
                        background: no-repeat;
                        width: 70%;
                    }
                }
            }
        }
    }

    margin-top: 75px;

    .filtros {
        .content {
            .filtro-ppal {
                select {
                    option {
                        background: var(--gris);
                        color: var(--dorado-uno);
                    }
                }
            }

            .otros-filtros {
                select {
                    option {
                        background: var(--gris);
                        color: var(--dorado-uno);
                    }
                }

                select.pais {
                    background: url($images-base-path + "select_filtro.png") no-repeat scroll;
                    background-position: right 15px top 10px;
                    background-size: 12px auto;
                    z-index: 1;
                    position: relative;
                }

                select.tipo-vino {
                    background: url($images-base-path + "select_filtro.png") no-repeat scroll;
                    background-position: right 15px top 10px;
                    background-size: 12px auto;
                    z-index: 1;
                    position: relative;
                }
            }
        }
    }
}

.foto-bodega {
    width: 100%;
    position: absolute;
    z-index: -1;

    .img {
        img {
            width: 100%;
            opacity: 0.25;
        }
    }
}

.contenido {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 32%);
    mix-blend-mode: normal;
}

.paginador {
    ul {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        li.number.current {
            a {
                border: 1px solid var(--dorado-uno);
                border-radius: 100%;
                color: #FFF;
                text-decoration: none;
                font-weight: 600;
            }
        }

        li.number {
            a {
                &:hover {
                    border: 1px solid var(--dorado-uno);
                    border-radius: 100%;
                    color: #FFF;
                    text-decoration: none;
                    font-weight: 600;
                }

                color: var(--dorado-dos);
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 33px;
                text-align: center;
                letter-spacing: 0.14em;
                text-decoration-line: underline;
                display: block;
                width: 39px;
                height: 39px;
                margin: 0 12px;
            }
        }

        li.arrow {
            a {
                margin: 0 7.5px;
            }
        }
    }
}

.disclaimer {
    .content {
        margin: 75px auto;

        p {
            font-family: 'HelveticaNeueLTStd-Lt';
            color: var(--dorado-dos);
            font-size: 23px;
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.la-bodega.boxes {
    .content {
        .detalle {
            justify-content: center;
            width: 100%;
            text-align: center;
            flex-direction: column;

            .name {
                margin: 0 auto;
            }

            p {
                margin: 25px auto;
            }

            .cta-btn {
                text-align: center;
                display: block;
                width: 100%;

                a {
                    background: var(--dorado-uno);
                    border-radius: 32px;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #fff;
                    padding: 0 25px;
                    height: 48px;
                    transition: all .3s ease;
                    margin-bottom: 0;
                    display: inline-flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    width: auto;
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: 500;
                    position: relative;
                    margin-top: 0;
                    margin: 0 auto;

                    &:hover {
                        text-decoration: none;
                        box-shadow: 0 2px 8px rgba(68, 68, 68, .7);
                    }
                }
            }
        }
    }
}

.contenido.boxes {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 28%);
    mix-blend-mode: normal;
}

@media screen and (max-width: 767px) {
    .la-bodega.boxes {
        .content {
            .detalle {
                p {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    .productos-bodega {
        .content {
            .vinos-bodega.boxes {
                .content-vinos-bodega {
                    .item {
                        .imagen {
                            background: no-repeat;
                            width: 50%;
                            padding-top: 0;
                        }

                        .descripcion-vino {
                            > h3 {
                                font-size: 16px;
                                line-height: 140%;
                                text-align: left;
                            }

                            > p {
                                font-size: 14px;
                                text-align: left;
                            }
                        }
                    }
                }
            }

            width: 95%;

            .detalle {
                justify-content: center;
                flex-direction: column;

                .imagen {
                    img {
                        width: 100%;
                    }

                    width: 50%;
                    margin: 0 auto;
                }

                .ficha-producto {
                    margin-left: auto;

                    h2 {
                        font-size: 24px;
                        line-height: 135%;
                        margin-top: 20px;
                        text-align: center;
                    }

                    ul {
                        li {
                            p {
                                span {
                                    display: block;
                                    margin-top: 5px;
                                }
                            }

                            p.produccion {
                                span {
                                    margin-left: 30px;
                                }
                            }
                        }
                    }
                }

                .cta-btn {
                    a {
                        display: block;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        line-height: 48px;
                        font-size: 18px;
                        max-width: 325px;
                        margin: 0 auto;

                        &:before {
                            left: 65px;
                        }
                    }
                }

                .price {
                    border-top: 0.5px solid #9E7E53;
                }
            }

            .filtros {
                margin: 25px 0;
            }

            .vinos-bodega {
                .content-vinos-bodega {
                    .item {
                        max-width: 100%;
                        text-align: left;
                        margin: 0 auto;
                        margin-bottom: 60px;
                        display: flex;
                        align-items: flex-start;
                        align-content: center;
                        justify-content: space-between;

                        h3 {
                            font-size: 15px;
                            line-height: 21px;
                            text-align: left;
                            margin-top: 10px;
                        }

                        p {
                            margin: 0;
                            text-align: left;

                            > span {
                                font-size: 22px;
                                line-height: 140%;

                                .monto {
                                    font-size: 30px;
                                }
                            }
                        }

                        .cta-btn {
                            margin-top: 0;

                            a {
                                font-size: 16px;
                                line-height: 19px;
                                height: 40px;
                                margin-top: 5px;

                                &:before {
                                    top: 7px;
                                }
                            }
                        }

                        .descripcion-vino {
                            width: 80%;
                            margin-left: 5%;
                        }
                    }
                }
            }
        }

        margin-top: 0;

        .filtros {
            .content {
                .solo-mobile.filtro-ppal {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: space-between;
                }

                .filtro-ppal {
                    label {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #9E7E53;
                        opacity: 0.6;
                        margin-right: 5px;
                    }

                    select {
                        border: 1px solid #9E7E53;
                        border-radius: 34px;
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        height: 46px;
                        padding: 0 25px;
                        padding-right: 40px;
                        background: url($images-base-path + "select_tipo_vino.png") no-repeat scroll;
                        background-position: right 15px top 13px;
                        background-size: 17px auto;
                        z-index: 1;
                        cursor: pointer;
                        position: relative;
                    }
                }

                .abrir-filtros {
                    margin: 20px 0 0;
                    width: 100%;

                    a {
                        border: 1px solid var(--dorado-dos);
                        display: flex;
                        width: 100%;
                        text-align: center;
                        height: 52px;
                        line-height: 52px;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: #C5C5C5;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    .breadcrumb {
        .content {
            width: 95%;
        }
    }
    .la-bodega {
        .content {
            width: 95%;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            flex-direction: column;

            .detalle {
                margin: 35px 0 35px;
                align-items: flex-start;
                width: 100%;

                .name {
                    margin-left: 15px;
                    width: 60%;

                    h2 {
                        font-size: 22px;
                        line-height: 26px;
                    }

                    p.country {
                        font-size: 12px;
                        line-height: 14px;

                        img {
                            margin-right: 0px;
                        }
                    }
                }

                > img {
                    width: 35%;
                }

                p {
                    font-size: 13px;
                    line-height: 145%;
                }
            }

            .video-iframe {
                width: 100%;

                iframe {
                    width: 100%;
                    height: 245px;
                }
            }
        }
    }
    .contenido {
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 11%);
        mix-blend-mode: normal;
    }
    .disclaimer {
        .content {
            margin: 40px auto;

            p {
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
}

@media screen and (min-width: 1700px) {
    .contenido {
        margin-top: 5%;
        padding-bottom: 2%;
    }
}


.add-product {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;

    .content {
        background: #FFF;
        width: 586px;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 25px 40px;

        h2 {
            text-align: center;
            margin: 0;
            font-family: Times-bold;
            font-style: normal;
            font-size: 24px;
            line-height: 32px;
            color: #524735;
            margin-bottom: 25px;
        }

        .cta-btn {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 25px;

            a {
                &:last-child {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 15px;
                    text-align: center;
                    letter-spacing: -0.015em;
                    text-decoration-line: underline;
                    color: #524735;
                }
            }

            .ver-carrito {
                background: #9E7E53;
                border-radius: 21px;
                font-family: Work-Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #FFFFFF;
                padding: 10px 35px;
                display: inline-block;
                margin-bottom: 15px;

                &:hover {
                    text-decoration: none;
                    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .add-product {
        .content {
            width: 90%;
            height: auto;

            img {
                width: 60px;
            }
        }
    }
}
