@import "../variables";

.content-users {
    .content {
        max-width: 1140px;
        margin: 0 auto;

        .access {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding: 65px 0;

            .item {
                margin: 0 10px;

                &:last-child {
                    margin-right: 0;
                }

                &:first-child {
                    margin-left: 0;
                }

                a {
                    position: relative;
                    overflow: hidden;
                    transition: all .3s ease;
                    display: block;

                    .description {
                        position: absolute;
                        bottom: 25px;
                        width: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                        text-align: center;

                        p {
                            strong {
                                font-family: Work-Sans, serif;
                                font-style: normal;
                                font-weight: 600;
                            }

                            font-family: Work-Sans, serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            text-align: center;
                            letter-spacing: -0.01em;
                            color: #FFFFFF;
                            margin: 0 auto;
                            display: none;
                        }

                    }

                    img {
                        transition: all .3s ease;
                    }

                    &:hover {
                        > img {
                            transform: scale(1.02);
                        }

                        span {
                            background: var(--dorado-uno);
                        }
                    }

                    span {
                        font-family: Times, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 46px;
                        color: #FFFFFF;
                        display: block;
                        background: var(--gris);
                        height: 46px;
                        border-radius: 30px;
                        margin-bottom: 10px;
                        transition: all .3s ease;

                        .icon {
                            display: inline;
                            border-radius: 0;
                            margin-right: 5px;
                            transition: background-position .0s ease;
                        }
                    }

                    #tag-live {
                        position: absolute;
                        top: 10px;
                        left: 10px;

                        span {
                            margin: 0;
                        }
                    }
                }
            &:hover {
                a {
                    .description {
                        p {
                            display: block;
                        }
                    }
                }
                        
            }
            }

            .item.viva-vino {
                a {
                    span {
                        .icon {
                            width: 31px;
                            height: 32px;
                            padding: 5px 16px;
                            background: url($images-base-path + "user_options.png") no-repeat -88px -200px;
                        }
                    }

                    &:hover {
                        span {
                            .icon {
                                background-position: -20px -200px;
                            }
                        }
                    }
                }
            }

            .item.hablemos-vino {
                a {
                    span {
                        .icon {
                            width: 28px;
                            height: 31px;
                            padding: 4px 14px;
                            background: url($images-base-path + "user_options.png") no-repeat -90px -148px;
                        }
                    }

                    &:hover {
                        span {
                            .icon {
                                background-position: -21px -148px;
                            }
                        }
                    }
                }
            }

            .item.cata-vino {
                a {
                    span {
                        .icon {
                            width: 61px;
                            height: 43px;
                            padding: 10px 23px;
                            background: url($images-base-path + "user_options.png") no-repeat -71px -13px;
                            margin-right: 0;
                        }
                    }

                    &:hover {
                        span {
                            .icon {
                                background-position: -11px -13px;
                            }
                        }
                    }
                }
            }

            .item.experto-vino {
                a {
                    span {
                        .icon {
                            width: 31px;
                            height: 32px;
                            padding: 11px 17px;
                            background: url($images-base-path + "user_options.png") no-repeat -86px -79px;
                        }
                    }

                    &:hover {
                        span {
                            .icon {
                                background-position: -18px -79px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.content-users .content .access .slick-current.slick-active .item a span,
.content-users .content .access .item a:hover span {
    background: var(--dorado-uno);
}

.content-users .content .access .slick-current.slick-active .item.viva-vino a span .icon,
.content-users .content .access .item.viva-vino a:hover span .icon {
    background: url(../images/user_options.png) no-repeat -20px -200px;
}
.content-users .content .access .slick-current.slick-active .item.hablemos-vino a span .icon,
.content-users .content .access .item.hablemos-vino a:hover span .icon {
    background: url(../images/user_options.png) no-repeat -21px -148px;
}
.content-users .content .access .slick-current.slick-active .item.cata-vino a span .icon,
.content-users .content .access .item.cata-vino a:hover span .icon {
    background: url(../images/user_options.png) no-repeat -11px -13px;
}
.content-users .content .access .slick-current.slick-active .item.experto-vino a span .icon,
.content-users .content .access .item.experto-vino a:hover span .icon {
    background: url(../images/user_options.png) no-repeat -18px -79px;
}

.pasos-compra .content {
    max-width: 1140px;
    margin: 0 auto;
}
.pasos-compra .content fieldset {
    border: 1px solid #524735;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 45px 100px;
}

.pasos-compra .content fieldset legend h2 {
    border: 1px solid #524735;
    box-sizing: border-box;
    border-radius: 40px;
    font-family: Times-bold;
    font-style: normal;
    font-size: 24px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 55px;
    padding: 0 30px;
    margin: 0 20px;
}
.pasos-compra .content fieldset legend {
    margin: 0 auto;
}

.pasos-compra .content fieldset .content-pasos {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.pasos-compra .content fieldset .content-pasos .paso {
    width: 26%;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 auto;
}

.pasos-compra .content fieldset .content-pasos .paso .num {
    display: flex;
    width: auto;
    border: 2px solid #9E7E53;
    border-radius: 100%;
    height: auto;
    line-height: normal;
    padding: 4px 11px;
    font-family: Times;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pasos-compra .content fieldset .content-pasos .paso .paso-text {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    color: #FFF;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
}

.pasos-compra .content fieldset .content-pasos .paso .paso-text p {
    width: 100%;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.pasos-compra .content fieldset .content-pasos .paso .paso-text img {
    margin: 0 auto;
}