.breadcrumb {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
}

.cronograma-content {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;

        .title {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;

            h2 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 35px;
                line-height: 46px;
                color: #FFF;
            }

            img {
                margin-right: 30px;
            }
        }

        .bajada {
            margin-bottom: 40px;

            h3 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 22px;
                line-height: 150%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 0;
                margin-top: 10px;
            }

            p {
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 0;
            }
        }
    }
}

main.cronograma {
    background: url($images-base-path + "bg-crono.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top 55px;
    padding-top: 145px;
}

.crono-table {
    .table-tabs {
        .tabs {
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            height: 48px;
            width: 100%;
            background-color: transparent;
            margin: 0 auto;
            white-space: nowrap;

            .tab {
                width: 32%;

                a {
                    font-family: Times-bold;
                    font-style: normal;
                    font-size: 22px;
                    line-height: 35px;
                    text-transform: capitalize;
                    text-align: center;
                    color: #FFFFFF;
                    opacity: 0.5;

                    &:focus {
                        background-color: transparent;
                        outline: none;
                    }

                    &:focus.active {
                        background-color: transparent;
                        outline: none;
                    }
                }
            }

            &:before {
                content: "";
                width: 100%;
                height: 4px;
                background: rgb(82, 71, 53, 0.5);
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .indicator {
                position: absolute;
                bottom: 0;
                height: 4px;
                background-color: var(--dorado-uno);
                will-change: left, right;
            }
        }
    }

    .table-content {
        margin: 23px 0;
        color: #FFF;

        table {
            tbody {
                tr {
                    border-bottom: 1px solid #524735;

                    td {
                        padding: 0;
                        border-radius: 0;
                        vertical-align: top;

                        .hora {
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 24px;
                            align-items: center;
                            color: #FFFFFF;
                            opacity: 0.5;
                        }

                        &:nth-child(1) {
                            width: 16%;
                            padding: 0px;
                            border-right: 1px solid var(--dorado-dos);
                            vertical-align: middle;
                        }

                        div.tag-live {
                            span {
                                margin: 0 auto;
                            }

                            margin-top: 0px;
                        }

                        &:last-child {
                            width: auto;
                            display: flex;
                            align-items: center;
                            align-content: center;
                            justify-content: space-between;
                        }

                        .info-evento {
                            width: 100%;
                            padding: 27px 20px;
                            display: inline-flex;
                            align-items: center;
                            align-content: center;
                            justify-content: space-between;
                            height: 100%;
                            border-left: 1px solid var(--dorado-dos);

                            .evento {
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                align-content: center;
                                justify-content: flex-start;
                                position: relative;
                                text-align: left;
                            }

                            &:first-child {
                                border-left: 0;
                            }
                        }

                        .cta-btn {
                            width: auto;
                            text-align: center;
                            margin-left: 15px;
                        }

                        .horarios {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            align-items: center;
                            align-content: center;
                            justify-content: space-between;

                            span {
                                display: block;
                                height: 56px;
                                line-height: 56px;
                                width: 100%;
                                text-align: center;

                                &:first-child {
                                    border-bottom: 1px solid var(--dorado-dos);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.label#sale-exclusive {
    background: url($images-base-path + "label_exclusivo.png");
    background-size: 146px;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: 0;
    padding-left: 40px;
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;

    h2 {
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        color: #FFFFFF;
        margin: 0;
    }

    span {
        font-family: Times-bold;
        font-style: normal;
        font-size: 17px;
        letter-spacing: -0.005em;
        color: #FFFFFF;
        padding: 0;
        background: transparent;
        margin: 0;
        height: auto;
        line-height: 15px;
        margin-bottom: 8px;
    }
}

#tag-live {
    span {
        background: var(--rojo);
        border-radius: 2px;
        width: 65px;
        height: 20px;
        display: block;
        line-height: 20px;
        text-align: center;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: #FFFFFF;

        .dot {
            display: inline-block;
            background: #FFF;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            margin-right: 2px;
            -webkit-animation: blink-1 1.2s infinite both;
            animation: blink-1 1.2s infinite both;
        }
    }
}

.info-evento {
    .evento {
        h3 {
            font-family: Times-bold;
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
            margin: 0 auto;
            margin-left: 0;
            margin-right: 20px;
        }

        > p {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #E5E5E5;
            margin: 8px 0;
            width: 100%;
        }
    }

    .expositor {
        h4 {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            opacity: 0.5;
            margin-bottom: 0;
        }

        p {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #E5E5E5;
            opacity: 0.5;
            margin-top: 8px;
            margin-bottom: 0;
        }
    }
}

.cta-btn {
    a {
        &:hover {
            text-decoration: none;
            box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
        }

        transition: all .3s ease;
    }

    .now {
        background: var(--dorado-uno);
        height: 40px;
        border-radius: 36px;
        display: block;
        line-height: 40px;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
        width: 200px;
    }

    .soon {
        background: #524735;
        border-radius: 50px;
        display: block;
        height: 40px;
        line-height: 40px;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #FFFFFF;
        position: relative;
        text-align: right;
        padding: 0px 18px;
        width: 114px;

        &:hover {
            background: var(--dorado-uno);

            &:before {
                background-position: -6px -43px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            padding: 12px;
            left: 20px;
            top: 9px;
            width: 24px;
            height: 24px;
            background: url($images-base-path + "agenda.png");
            background-repeat: no-repeat;
            background-position: -6px -8px;
        }
    }

    .soon.agendado {
        padding: 0px 20px;
        width: 125px;
        background: var(--dorado-uno);

        &:before {
            background-position: -6px -43px;
        }
    }
}

@media screen and (max-width: 767px) {
    main.cronograma {
        background: url($images-base-path + "bg-crono.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top 45px;
        padding-top: 65px;
    }
    .breadcrumb {
        .content {
            width: 90%;
        }
    }
    .cronograma-content {
        .content {
            width: 95%;

            .title {
                width: 95%;
                margin: 0 auto;

                img {
                    margin-right: 10px;
                    width: 47px;
                }

                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .bajada {
                width: 95%;
                margin: 0 auto;
                margin-bottom: 40px;

                h3 {
                    font-size: 20px;
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .crono-table {
        .table-content {
            table {
                tbody {
                    tr {
                        td {
                            &:nth-child(2) {
                                width: calc(100% - 75px);
                                padding: 0;
                                padding-top: 15px;
                                text-align: left;
                                flex-direction: row;
                            }

                            &:last-child {
                                flex-direction: row;

                                .info-evento {
                                    width: auto;
                                    padding-right: 0;
                                    padding: 5px 10px;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: flex-start;
                                    align-content: flex-start;
                                }

                                .cta-btn {
                                    width: 100%;
                                    text-align: center;
                                    margin: 5px 0 5px;
                                    padding-left: 0;
                                }
                            }

                            padding: 15px 0px;

                            .horarios {
                                display: flex;
                                flex-direction: column;
                                height: 100%;
                                align-items: center;
                                align-content: center;
                                justify-content: center;

                                span {
                                    display: flex;
                                    height: 72px;
                                    line-height: 20px;
                                    width: 100%;
                                    text-align: left;
                                    align-items: center;
                                    font-size: 12px;
                                    opacity: 0.5;
                                }
                            }

                            &:nth-child(1) {
                                width: 75px;
                                padding: 0px;
                                vertical-align: middle;
                                display: block;
                            }
                        }

                        display: flex;
                    }
                }
            }
        }

        .table-tabs {
            .tabs {
                .tab {
                    a {
                        font-size: 16px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .info-evento {
        .evento {
            h3 {
                font-size: 14px;
            }

            > p {
                font-size: 12px;
            }
        }

        .expositor {
            h4 {
                font-size: 11px;
            }
        }
    }
    .cta-btn {
        .now {
            height: 35px;
            line-height: 35px;
            font-size: 12px;
            width: 200px;
        }

        .soon {
            height: 40px;
            line-height: 40px;
            font-size: 0;
            padding: 0px 5px;
            width: 40px;

            span {
                display: none;
            }

            &:before {
                top: 8px;
                left: 10px;
            }
        }

        .soon.agendado {
            height: 40px;
            line-height: 40px;
            font-size: 0;
            padding: 0px 5px;
            width: 40px;
        }
    }
    .label#sale-exclusive {
        background-size: 95px;
        padding-left: 28px;
        margin-bottom: 0;
        height: 30px;

        h2 {
            font-size: 6px;
        }

        span {
            font-size: 10px;
            line-height: 11px;
        }
    }
    #tag-live {
        span {
            width: 54px;
            height: 17px;
            line-height: 17px;
            font-size: 8px;
        }
    }
}
.agendar-evento {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.9);
    z-index: 99;
}

.agendar-evento .content {
    background: #FFF;
    width: 586px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 25px;
    position: relative;
}

.agendar-evento .content #close {
    position: absolute;
    top: -50px;
    right: 0;
}

.agendar-evento .content h2 {
    font-family: Times-bold;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #524735;
    margin: 0 auto;
}

.agendar-evento .content p {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #524735;
}

.agendar-evento .content .cta-btn {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.agendar-evento .content .cta-btn .btn-agendar {
    display: inline-block;
    border-radius: 50px;
    height: 40px;
    width: 170px;
    line-height: 40px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}
.agendar-evento .content .cta-btn .btn-agendar.icalendar {
    background: #EE5A5A;
}
.agendar-evento .content .cta-btn .btn-agendar.ocalendar {
    background: #1778D6;
}
.agendar-evento .content .cta-btn .btn-agendar.gcalendar {
    background: #1A89F5;
}

.agendar-evento .content .cta-btn .btn-agendar img {
    vertical-align: middle;
    width: auto;
}
.hablemos-content .content .crono-table .table-content table tbody tr td .info-evento,
.cata-content .content .crono-table .table-content table tbody tr td .info-evento {
    width: 100%;
    padding: 27px 20px;
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    height: 100%;
    border-left: 0;
    flex-direction: column;
}
.hablemos-content .content  .crono-table .table-content table tbody tr td:nth-child(1),
.cata-content .content .crono-table .table-content table tbody tr td:nth-child(1) {
    width: 16%;
    padding: 0px;
    border-right: 0;
    vertical-align: middle;
}
@media screen and (min-width: 1700px) {
    main.cronograma {
        padding-top: 180px;
    }
}


@media screen and (max-width: 767px) {
    .hablemos-content .content .crono-table .table-content table tbody tr td:nth-child(1),
    .cata-content .content .crono-table .table-content table tbody tr td:nth-child(1) {
        width: 0;
        display: none;
    }
    .hablemos-content .content .crono-table .table-content table tbody tr td:last-child,
    .cata-content .content .crono-table .table-content table tbody tr td:last-child {
        flex-direction: column;
    }
    .hablemos-content .content .crono-table .table-content table tbody tr td .info-evento,
    .cata-content .content .crono-table .table-content table tbody tr td .info-evento {
        padding-top: 0;
    }
    .hablemos-content .content .crono-table .table-content table tbody tr td:last-child .cta-btn,
    .cata-content .content .crono-table .table-content table tbody tr td:last-child .cta-btn {
        padding: 0 20px;
    }
}