.breadcrumb {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
}

.experto-content {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;

        .title {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;

            h2 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 35px;
                line-height: 46px;
                color: #FFF;
            }

            img {
                margin-right: 30px;
            }
        }

        .bajada {
            margin-bottom: 40px;

            h3 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 22px;
                line-height: 150%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 0;
                margin-top: 10px;
            }

            p {
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 0;
            }
        }
    }
}

.experto-detalle {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;

        .paso {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin: 70px 0;

            .imagen {
                text-align: center;
                margin-right: 25px;

                p {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #9E7E53;

                    span {
                        font-family: Times-bold;
                        font-style: normal;
                        font-size: 26px;
                        line-height: 34px;
                        text-align: center;
                        letter-spacing: -0.005em;
                        text-transform: uppercase;
                    }
                }
            }

            .paso-content {
                padding-left: 25px;
                border-left: 1px solid var(--dorado-uno);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-content: center;
                justify-content: center;

                h2 {
                    font-family: Times-bold;
                    font-style: normal;
                    font-size: 23px;
                    line-height: 150%;
                    text-transform: uppercase;
                    color: #9E7E53;
                    margin: 0;
                }
            }
        }

        .paso.seleccione {
            .paso-content {
                .seleccionar-cata {
                    .filtros {
                        margin: 0 auto;

                        .content {
                            align-items: flex-start;

                            .otros-filtros {
                                margin: 10px 0;
                                width: 100%;
                                align-items: center;
                                align-content: center;
                                justify-content: flex-start;

                                .control-filter {
                                    display: flex;
                                    align-items: center;
                                    margin-right: 20px;
                                }
                            }
                        }
                    }

                    .nota {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 150%;
                        color: #C5C5C5;
                    }
                }
            }
        }

        .paso.confirma {
            .paso-content {
                p {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                }
            }
        }

        .paso.agendado {
            .paso-content {
                .expositor {
                    .title {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin-bottom: 20px;
                        margin-bottom: auto;

                        span {
                            position: relative;
                            margin-left: 15px;

                            &:before {
                                content: "";
                                position: absolute;
                                left: -8px;
                                top: 3px;
                                width: 2px;
                                height: 12px;
                                background: #FFF;
                            }
                        }
                    }

                    p {
                        &:last-child {
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #FFFFFF;
                            opacity: 0.5;
                        }
                    }
                }

                > p {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #FFFFFF;
                    opacity: 0.5;
                }
            }
        }

        .paso.live {
            .paso-content {
                .expositor {
                    .title {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        display: flex;
                        align-items: center;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin-bottom: 20px;
                        margin-bottom: auto;

                        span {
                            position: relative;
                            margin-left: 15px;

                            &:before {
                                content: "";
                                position: absolute;
                                left: -8px;
                                top: 3px;
                                width: 2px;
                                height: 12px;
                                background: #FFF;
                            }
                        }
                    }

                    p {
                        &:last-child {
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 150%;
                            color: #FFFFFF;
                            opacity: 0.5;
                            margin-bottom: 22px;
                            margin-top: 10px;
                        }
                    }
                }

                > p {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #FFFFFF;
                    opacity: 0.5;
                }

                div#tag-live {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

main.experto {
    background: url($images-base-path + "bg_experto.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top 55px;
    padding-top: 145px;
}
.experto-detalle .content .paso.seleccione .paso-content .seleccionar-cata .filtros .cta-btn button {
    background: #9e7e53;
    border-radius: 36px;
    height: 36px;
    width: auto;
    display: block;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -.015em;
    color: #fff;
    padding: 0 40px;
    transition: all .3s ease;
    text-transform: none;
}
.cta-btn {
    a {
        background: #9E7E53;
        border-radius: 36px;
        height: 36px;
        width: auto;
        display: block;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
        padding: 0px 40px;
        transition: all .3s ease;

        &:hover {
            text-decoration: none;
            box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
        }
    }
}

.seleccionar-cata {
    .filtros {
        .content {
            .otros-filtros {
                .control-filter {
                    select {
                        padding: 0 35px 0 20px;

                        option {
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
}
.experto-detalle .content .paso.seleccione .paso-content .seleccionar-cata .filtros .content .otros-filtros form {
    display: flex;
}
@media screen and (max-width: 767px) {
    main.experto {
        background: url($images-base-path + "bg_experto.jpg");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center top 75px;
        padding-top: 75px;
    }
    .breadcrumb {
        .content {
            width: 90%;
        }
    }
    .experto-content {
        .content {
            width: 95%;

            .title {
                width: 95%;
                margin: 0 auto;

                img {
                    margin-right: 5px;
                    width: 47px;
                }

                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .bajada {
                width: 95%;
                margin: 0 auto;
                margin-bottom: 40px;

                h3 {
                    font-size: 20px;
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .experto-detalle {
        .content {
            .paso {
                flex-direction: column;
                margin: 10px 0;

                .imagen {
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;

                    img {
                        width: 75px;
                    }

                    p {
                        margin: 5px 0;
                    }
                }

                .paso-content {
                    padding-left: 0;
                    border-left: 0;
                    border-top: 1px solid var(--dorado-uno);
                    padding-top: 25px;
                    margin-top: 25px;
                    width: 90%;

                    h2 {
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        width: 100%;
                    }

                    .cta-btn {
                        width: 100%;
                        margin: 10px 0;
                    }
                }
            }

            .paso.seleccione {
                .paso-content {
                    .seleccionar-cata {
                        .filtros {
                            .content {
                                .otros-filtros {
                                    .control-filter {
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        align-content: center;
                                        justify-content: space-between;
                                        margin: 0 auto;
                                        margin-bottom: 15px;
                                    }

                                    margin-top: 24px;
                                    flex-direction: column;
                                }
                            }
                        }

                        .nota {
                            font-size: 13px;
                            text-align: center;
                        }
                    }
                }
            }

            .paso.confirma {
                .paso-content {
                    p {
                        font-size: 13px;
                        margin-top: 20px;
                    }
                }
            }

            .paso.agendado {
                .paso-content {
                    .expositor {
                        .title {
                            font-size: 13px;
                            margin-top: 20px;
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            span {
                                margin-left: 0;
                                display: block;
                                width: 100%;
                                margin-top: 5px;

                                &:before {
                                    content: none;
                                }
                            }
                        }

                        p {
                            &:last-child {
                                font-size: 13px;
                                line-height: 150%;
                                text-align: center;
                            }
                        }
                    }

                    > p {
                        font-size: 13px;
                        line-height: 150%;
                        text-align: center;
                    }
                }
            }

            .paso.live {
                .paso-content {
                    .expositor {
                        .title {
                            font-size: 13px;
                            margin-top: 20px;
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            span {
                                margin-left: 0;
                                display: block;
                                width: 100%;
                                margin-top: 5px;

                                &:before {
                                    content: none;
                                }
                            }
                        }

                        p {
                            &:last-child {
                                font-size: 13px;
                                line-height: 150%;
                                text-align: center;
                            }
                        }
                    }

                    > p {
                        font-size: 13px;
                        line-height: 150%;
                        text-align: center;
                    }

                    div#tag-live {
                        margin: 0 auto;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .seleccionar-cata {
        .filtros {
            .content {
                .otros-filtros {
                    .control-filter {
                        select {
                            padding: 0 35px 0 20px;
                            width: 80%;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .experto-detalle .content .paso.seleccione .paso-content .seleccionar-cata .filtros .content .otros-filtros form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .experto-detalle .content .paso.seleccione .paso-content .seleccionar-cata .filtros .content .otros-filtros form .cta-btn button {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1700px) {
    main.experto {
        padding-top: 180px;
    }
    section.experto-content {
        padding-bottom: 100px;
    }
}
