.breadcrumb {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
}

.hablemos-content {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;

        .title {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;

            h2 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 35px;
                line-height: 46px;
                color: #FFF;
            }

            img {
                margin-right: 30px;
            }
        }

        .bajada {
            margin-bottom: 40px;

            h3 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 22px;
                line-height: 150%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 0;
                margin-top: 10px;
            }

            p {
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 0;
            }
        }
    }
}

main.hablemos {
    background: url($images-base-path + "bg_hablemos.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top 55px;
    padding-top: 145px;
}

.crono-table {
    .table-tabs {
        .tabs {
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            height: 48px;
            width: 100%;
            background-color: transparent;
            margin: 0 auto;
            white-space: nowrap;

            .tab {
                width: 32%;

                a {
                    font-family: Times-bold;
                    font-style: normal;
                    font-size: 22px;
                    line-height: 35px;
                    text-transform: capitalize;
                    text-align: center;
                    color: #FFFFFF;
                    opacity: 0.5;

                    &:focus {
                        background-color: transparent;
                        outline: none;
                    }

                    &:focus.active {
                        background-color: transparent;
                        outline: none;
                    }
                }
            }

            &:before {
                content: "";
                width: 100%;
                height: 4px;
                background: rgb(82, 71, 53, 0.5);
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .indicator {
                position: absolute;
                bottom: 0;
                height: 4px;
                background-color: var(--dorado-uno);
                will-change: left, right;
            }
        }
    }

    .table-content {
        margin: 23px 0;
        color: #FFF;

        table {
            tbody {
                tr {
                    border-bottom: 1px solid #524735;

                    td {
                        padding: 27px 0px;
                        border-radius: 0;
                        vertical-align: top;

                        .hora {
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 24px;
                            align-items: center;
                            color: #FFFFFF;
                            opacity: 0.5;
                        }

                        &:nth-child(1) {
                            width: 16%;
                        }

                        &:nth-child(2) {
                            width: 14%;
                            padding: 0 20px;
                            padding-top: 27px;
                            text-align: center;

                            div.tag-live {
                                span {
                                    margin: 0 auto;
                                }

                                margin-top: 10px;
                            }
                        }

                        &:nth-child(3) {
                            width: auto;
                            display: flex;
                            align-items: center;
                            align-content: center;
                            justify-content: space-between;

                            .info-evento {
                                width: 80%;
                                padding-right: 40px;
                            }

                            .cta-btn {
                                width: 20%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.info-evento {
    .evento {
        h3 {
            font-family: Times-bold;
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        > p {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #E5E5E5;
            margin: 8px 0;
        }
    }

    .expositor {
        h4 {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            opacity: 0.5;
            margin-bottom: 0;
        }

        p {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #E5E5E5;
            opacity: 0.5;
            margin-top: 8px;
            margin-bottom: 0;
        }
    }
}

.cta-btn {
    a {
        &:hover {
            text-decoration: none;
            box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
        }

        transition: all .3s ease;
    }

    .now {
        background: var(--dorado-uno);
        height: 40px;
        border-radius: 36px;
        display: block;
        line-height: 40px;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }

    .soon {
        background: #524735;
        border-radius: 50px;
        display: block;
        height: 40px;
        line-height: 40px;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #FFFFFF;
        position: relative;
        text-align: right;
        padding: 0px 40px;

        &:hover {
            background: var(--dorado-uno);

            &:before {
                background-position: -6px -43px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            padding: 12px;
            left: 35px;
            top: 9px;
            width: 24px;
            height: 24px;
            background: url($images-base-path + "agenda.png");
            background-repeat: no-repeat;
            background-position: -6px -8px;
        }
    }

    .soon.agendado {
        padding: 0px 30px;
        background: var(--dorado-uno);

        &:before {
            background-position: -6px -43px;
        }
    }
}

@media screen and (max-width: 767px) {
    main.hablemos {
        background: url($images-base-path + "m_bg_hablemos.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top 45px;
        padding-top: 65px;
    }
    .breadcrumb {
        .content {
            width: 90%;
        }
    }
    .hablemos-content {
        .content {
            width: 95%;

            .title {
                width: 95%;
                margin: 0 auto;

                img {
                    margin-right: 5px;
                    width: 47px;
                }

                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .bajada {
                width: 95%;
                margin: 0 auto;
                margin-bottom: 40px;

                h3 {
                    font-size: 20px;
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .crono-table {
        .table-content {
            table {
                tbody {
                    tr {
                        td {
                            &:nth-child(1) {
                                display: none;
                            }

                            &:nth-child(2) {
                                width: 30%;
                                padding: 0 5px;
                                padding-top: 15px;
                                text-align: left;
                            }

                            &:nth-child(3) {
                                flex-direction: column;

                                .info-evento {
                                    width: 100%;
                                    padding-right: 0;
                                    padding-left: 20px;
                                }

                                .cta-btn {
                                    width: 100%;
                                    text-align: center;
                                    margin: 21px 0 5px;
                                    padding-left: 20px;
                                }
                            }

                            padding: 15px 0px;
                        }
                    }
                }
            }
        }

        .hablemos-content .content .crono-table .table-content table tbody tr td:nth-child(1) {
            display: none !important;
        }

        .table-tabs {
            .tabs {
                .tab {
                    a {
                        font-size: 16px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .info-evento {
        .evento {
            h3 {
                font-size: 16px;
            }

            > p {
                font-size: 12px;
            }
        }

        .expositor {
            h4 {
                font-size: 11px;
            }
        }
    }
    .cta-btn {
        .now {
            height: 35px;
            line-height: 35px;
            font-size: 12px;
            width: 200px;
        }

        .soon {
            height: 35px;
            line-height: 35px;
            font-size: 12px;
            padding: 0px 25px;
            width: 140px;

            &:before {
                top: 6px;
            }
        }

        .soon.agendado {
            width: 155px;
        }
    }
}

@media screen and (min-width: 1700px) {
    main.hablemos {
        padding-top: 180px;
    }
}

.breadcrumb .content,
.hablemosDt-content .content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

main.hablemos {
    background: url($images-base-path + "bg_hablemos.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top 55px;
    padding-top: 145px;
}

.hablemosDt-content .content .title {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.hablemosDt-content .content .bajada {
    margin-bottom: 40px;
}

.hablemosDt-content .content .bajada h3 {
    font-family: Times-bold;
    font-style: normal;
    font-size: 22px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 10px;
}

.hablemosDt-content .content .bajada p {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 0;
}

.hablemosDt-content .content .title h2 {
    font-family: Times-bold;
    font-style: normal;
    font-size: 35px;
    line-height: 46px;
    color: #FFF;
}

.hablemosDt-content .content .title img {
    margin-right: 30px;
}

.hablemosDt-video .content {
    display: flex;
    background: #FFF;
    border-radius: 2px;
}

.hablemosDt-video .content .video {
    width: 70%;
    padding: 5px;
}

.hablemosDt-video .content .chat {
    width: 30%;
    padding: 5px;
}

.hablemosDt-video .content .video iframe, .hablemosDt-video .content .chat iframe {
    width: 100%;
    min-height: 490px;
}


@media screen and (max-width: 767px) {
    main.hablemos {
        background: url($images-base-path + "bg_hablemos.jpg");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center top 75px;
        padding-top: 75px;
    }
    .breadcrumb .content {
        width: 90%;
    }
    .hablemosDt-content .content {
        width: 95%;
    }
    .hablemosDt-content .content .title {
        width: 95%;
        margin: 0 auto;
    }
    .hablemosDt-content .content .title img {
        margin-right: 5px;
        width: 47px;
    }
    .hablemosDt-content .content .title h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .hablemosDt-content .content .bajada {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .hablemosDt-content .content .bajada h3 {
        font-size: 20px;
    }
    .hablemosDt-content .content .bajada p {
        margin-top: 10px;
    }
    .hablemosDt-video .content {
        display: flex;
        flex-direction: column;
    }
    .hablemosDt-video .content .video,
    .hablemosDt-video .content .chat {
        width: 100%;
    }
    .hablemosDt-video .content .video iframe, .hablemosDt-video .content .chat iframe {
        width: 100%;
        min-height: auto;
    }
}


@media screen and (min-width: 1700px) {

    main.hablemos {
        padding-top: 180px;
    }
}
