@import "../variables";

@-webkit-keyframes blink-1 {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

@keyframes blink-1 {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

.eventos .content .banners-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;

    .slider-for {
        width: 70%;
    }

    .slider-nav {
        width: 30%;
        margin: 0 auto;
        background: #F0F0F0;
    }

    .slider-for .item {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
    }

    .slider-nav {
        .item {
            background-color: #F0F0F0;
            height: 100%;
            padding: 30px;
            outline: none;

            .description {
                &.sale-exclusive {
                    flex-direction: column;

                    .content {
                        width: 100%;
                    }

                    .counter {
                        width: 100%;
                        background: var(--dorado-uno);
                        margin-top: 20px;
                        border-radius: 10px;
                        padding: 10px;
                        text-align: center;
                        color: #FFF;

                        p {
                            margin: 0 auto;
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }

                    .content .text p {
                        &.bodega:before {
                            content: "";
                            background: url($images-base-path + "bodegas_banner.png");
                            background-size: 20px;
                            background-repeat: no-repeat;
                            height: 16px;
                            padding: 0px 10px;
                            left: 0;
                            position: absolute;
                        }

                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 10px;
                        }

                        &.bodega {
                            padding-left: 29px;
                            position: relative;
                        }
                    }
                }

                &.crono .content .title h2 {
                    color: #231F20;
                }

                &.sale-exclusive .content {
                    .title h2 {
                        font-family: Times-bold;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 28px;
                        line-height: 45px;
                        letter-spacing: -0.01em;
                        color: #231F20;
                        margin: 15px auto;
                        text-align: left;
                        width: 100%;
                    }

                    .text p.bodega strong {
                        margin-left: 5px;
                    }
                }

                .content .cta-btn a.comprar {
                    &:before {
                        content: "";
                        background: url($images-base-path + "carrito.png");
                        padding: 3px 12px;
                        background-size: 24px;
                        margin-right: 10px;
                        background-repeat: no-repeat;
                    }

                    background: var(--rojo);
                    position: relative;
                    padding-left: 20px;
                }

                &.sale-exclusive {
                    .counter #fecha {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 13px;
                        color: #C5B198;

                        #hora {
                            font-size: 48px;
                            font-weight: 600;
                            letter-spacing: -0.02em;
                            color: #ECE5DD;
                        }

                        #minuto, #segundo, .dos-pts {
                            font-size: 24px;
                            font-weight: normal;
                            color: #ECE5DD;
                        }
                    }

                    .content {
                        border-top: 0.5px solid var(--dorado-uno);
                        border-bottom: 0.5px solid var(--dorado-uno);
                        padding: 20px 0 10px;
                    }
                }
            }
        }

        .slick-dots {
            background-color: #B1ACA5;
            bottom: 0;
            padding: 7px 0;
        }

        .slick-arrow {
            position: absolute;
            bottom: 17px;
            z-index: 9;
            height: 12px;
            width: 19px;
        }

        .prev.slick-arrow {
            left: 15%;
        }

        .next.slick-arrow {
            right: 15%;
        }

        .slick-dots li {
            button {
                border: 1px solid var(--dorado-dos);
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }

            &.slick-active button {
                background-color: var(--dorado-dos);
            }

            button:before {
                content: none;
            }
        }

        .item .description {
            &.crono .content .title img {
                margin: 0 auto;
            }

            .content {
                .title h2 {
                    font-family: Times-bold;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 110%;
                    color: var(--dorado-dos);
                    width: 100%;
                    text-transform: uppercase;
                }

                .text {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12.7069px;
                    line-height: 140%;
                    color: #231F20;
                }
            }
        }
    }

    .slider-for .item .label {
        position: absolute;
        bottom: 10%;
        left: 0;
        padding-left: 75px;
        width: 278px;
        height: 67px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        justify-content: center;

        &.live {
            background: url($images-base-path + "label_live_banner.png");
            background-size: 100%;
            background-repeat: no-repeat;
        }

        &.sale-exclusive {
            background: url($images-base-path + "label_exclusivo.png");
            background-size: 100%;
            background-repeat: no-repeat;
        }

        h2 {
            margin: 0;
            font-family: Times-bold;
            font-style: normal;
            font-size: 28px;
            letter-spacing: -0.005em;
            color: #FFFFFF;
        }

        span {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            color: #FFFFFF;
        }
    }

    .slider-nav .item .description {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: flex-start;

        .content {
            .cta-btn a {
                font-family: Work-Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 37px;
                text-align: center;
                letter-spacing: -0.015em;
                color: #FFFFFF;
                background: #9E7E53;
                border-radius: 36px;
                padding: 0 27px;
                height: 37px;
                display: inline-block;
                outline: none;
                transition: all .3s ease;

                &:hover {
                    text-decoration: none;
                    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
                }
            }

            .text {
                #tag-live {
                    margin-bottom: 40px;
                }

                ul {
                    padding-left: 16px;
                    list-style: disc;

                    &:not(.browser-default) > li {
                        list-style-type: disc;
                    }
                }
            }

            .cta-btn {
                margin: 22px 0;
            }
        }

        &.live .content {
            .title {
                h2 {
                    font-size: 32px;
                    line-height: 130%;
                }

                display: flex;
                align-items: center;
                align-content: center;
                border-top: 0.5px solid var(--dorado-uno);
                border-bottom: 0.5px solid var(--dorado-uno);
                padding: 10px 0;

                img {
                    margin-right: 20px;
                }
            }

            .text h3 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 28px;
                line-height: 120%;
                color: #231F20;
                margin: 20px auto;
                text-transform: uppercase;
            }
        }
    }
}

.tag-sale {
    width: 97px;
    height: 41px;
    line-height: 38px;
    text-align: center;
    background: url($images-base-path + "label_dcto.png") no-repeat;
    background-size: contain;

    span {
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        > span {
            font-family: Times-bold, serif;
            font-style: normal;
            font-size: 24px;
            color: #FFFFFF;
        }
    }
}

.content-users {
    .content {
        .access {
            .item.experto-vino {
                .label#sale-exclusive {
                    background: url($images-base-path + "label_exclusivo.png");
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    padding-left: 52px;
                    width: 176px;
                    height: 43px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    align-content: center;
                    justify-content: center;

                    h2 {
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        color: #FFFFFF;
                        margin: 0;
                    }

                    span {
                        font-family: Times-bold, serif;
                        font-style: normal;
                        font-size: 18px;
                        letter-spacing: -0.005em;
                        color: #FFFFFF;
                        padding: 0;
                        background: transparent;
                        height: auto;
                        line-height: 15px;
                        margin: 0 0 8px;
                    }

                }
            }
        }
    }
}

#tag-live {
    span {
        background: var(--rojo);
        border-radius: 3px;
        width: 87px;
        height: 26px;
        display: block;
        line-height: 26px;
        text-align: center;
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;

        .dot {
            display: inline-block;
            background: #FFF;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            margin-right: 2px;
            -webkit-animation: blink-1 1.2s infinite both;
            animation: blink-1 1.2s infinite both;
        }
    }
}