.inicio .content {
    .slider .fade .item {
        img {
            width: 100%;
            opacity: 0.4
        }

        position: relative;

        .descripcion {
            position: absolute;
            top: 35%;
            left: 30%;
            transform: translate(-50%, -50%);
            width: 30%;   
        }
    }

    position: relative;

    .formulario {
        position: absolute;
        top: 15px;
        right: 12%;
        z-index: 999;

        .ir-otro {
            background: #F0F0F0;
            box-shadow: 0px 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
            padding: 20px;
            border-radius: 1px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            max-width: 357px;
            margin-top: 15px;
            border-top: 1.5px solid var(--dorado-dos);

            p {
                margin: 0;
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14.4231px;
                line-height: 145%;
                color: #231F20;
            }

            a {
                background: var(--dorado-dos);
                border-radius: 32px;
                font-size: 17px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                padding: 0;
                height: 48px;
                transition: all .3s ease;
                margin-bottom: 0;
                display: inline-flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                width: 120px;
                font-family: Work-Sans;
                font-style: normal;
                font-weight: 600;

                &:hover {
                    text-decoration: none;
                    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
                }
            }
        }

        .inner form {
            background: #F0F0F0;
            box-shadow: 0px 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
            padding: 20px;
            border-radius: 1px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: center;
            justify-content: space-between;
            max-width: 357px;

            h3 {
                font-family: Times-bold;
                font-size: 24px;
                line-height: 125%;
                text-align: center;
                color: var(--dorado-dos);
                margin-top: 0;
                width: 100%;
            }
        }
    }
}

.inicio .content .slider .fade .item .descripcion .title {
    font-family: Times-bold;
    font-style: normal;
    font-size: 85px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.67);
    margin: 0;
}
.inicio .content .slider .fade .item .descripcion .bajada p:first-child {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 120%;
    color: #FFFFFF;
}
.inicio .content .slider .fade .item .descripcion .bajada ul {
    padding-left: 24px;
}

.inicio .content .slider .fade .item .descripcion .bajada ul li {
    list-style: disc;
}

.inicio .content .slider .fade .item .descripcion .bajada p:nth-child(2),
.inicio .content .slider .fade .item .descripcion .bajada ul {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
}
.label-wong {
    position: fixed;
    right: 0;
    bottom: 5%;
    background: rgb(236, 28, 36, 0.4);
    display: block;
    padding: 5px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-right: 0;
    padding-left: 6px;
}

.label-wong a {
    display: block;
    background: #ec1c24;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 5px;
}

.label-wong a img {
    vertical-align: middle;
}