@import "../variables";

.breadcrumb .content, .bodega-vino .content, .detalle-producto .content, .disclaimer .content {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.bodega-vino .content .detalle {
    display: flex;
    color: #fFF;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    margin: 54px 0 90px;

    > img {
        width: 15%;
    }

    .name {
        h2 {
            margin: 0 auto;
            font-family: Times-bold, serif;
            font-style: normal;
            font-size: 35px;
            line-height: 40px;
            color: #FFFFFF;
        }

        margin-left: 20px;

        p.country {
            font-family: Work-Sans, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            margin: 0 auto;
            margin-top: 15px;

            img {
                width: 21px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

.detalle-producto .content .detalle {
    display: flex;
    color: #FFF;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;

    .imagen {
        background: url($images-base-path + "elipse_fondo_botella.png") no-repeat bottom;
        background-size: contain;
    }

    .ficha-producto {
        margin-left: 75px;

        h2 {
            font-family: Times-bold, serif;
            font-style: normal;
            font-size: 30px;
            line-height: 140%;
            color: #9E7E53;
            margin-top: 0;
        }

        ul {
            font-family: Work-Sans, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #CDCCCB;
            list-style: none;
            margin-bottom: 35px;

            li p {
                span {
                    font-weight: 600;
                    color: #FFF;
                }

                position: relative;
                margin: 20px 0;

                &:before {
                    content: "";
                    position: absolute;
                    left: -40px;
                    top: -13px;
                    background: url($images-base-path + "ficha_vino.png");
                    padding: 20px;
                }

                &.tipo:before {
                    background-position: -30px 0;
                }

                &.grado:before {
                    background-position: -60px 0;
                }

                &.crianza:before {
                    background-position: -96px 0;
                }

                &.bodega:before {
                    background-position: -135px 0;
                }
                &.temperatura:before {
                    background-position: -164px -2px;
                }
                &.azucar:before {
                    background-position: -198px -2px;
                }


                &.produccion {
                    &:before {
                        content: none;
                    }

                    margin-left: -28px;

                    img {
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .price {
        border-top: 0.5px dashed #9E7E53;
        padding-top: 15px;

        p {
            font-family: Work-Sans, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            margin: 0;

            > span {
                font-family: Times-bold, serif;
                font-style: normal;
                font-size: 25px;
                line-height: 140%;
                text-align: center;
                letter-spacing: -0.005em;
                color: #9E7E53;
                margin-left: 7px;

                .monto {
                    font-size: 34px;
                    line-height: 140%;
                    text-align: center;
                    letter-spacing: -0.005em;
                }
            }
        }
    }

    .cta-btn {
        margin-top: 25px;
        margin-bottom: 10px;

        a {
            background: var(--dorado-uno);
            border-radius: 32px;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            padding: 0 25px 0 50px;
            height: 48px;
            transition: all .3s ease;
            margin-bottom: 0;
            display: inline-flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: auto;
            font-family: Work-Sans, serif;
            font-style: normal;
            font-weight: 600;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 20px;
                top: 11px;
                padding: 12px;
                background: url($images-base-path + "carrito.png") no-repeat;
            }

            &:hover {
                text-decoration: none;
                box-shadow: 0 2px 8px rgba(68, 68, 68, 0.7);
            }
        }
    }
}

.disclaimer .content {
    margin: 75px auto;

    p {
        font-family: 'HelveticaNeueLTStd-Lt', serif;
        color: var(--dorado-dos);
        font-size: 23px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
    }
}

.foto-bodega {
    width: 100%;
    position: absolute;
    z-index: -1;

    .img img {
        width: 100%;
        opacity: 0.25;
    }
}

.contenido {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 32%);
    mix-blend-mode: normal;
}

@media screen and (max-width: 767px) {
    .breadcrumb .content, .bodega-vino .content, .detalle-producto .content, .disclaimer .content {
        width: 90%;
    }

    .bodega-vino .content .detalle {
        margin: 35px 0 35px;
        align-items: center;

        > img {
            width: 35%;
        }

        .name {
            p.country {
                display: none;
            }

            h2 {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }

    .detalle-producto .content .detalle {
        justify-content: center;
        flex-direction: column;

        .imagen {
            img {
                width: 100%;
            }

            width: 50%;
            margin: 0 auto;
        }

        .ficha-producto {
            margin-left: auto;

            h2 {
                font-size: 24px;
                line-height: 135%;
                margin-top: 20px;
                text-align: center;
            }

            ul li p {
                span {
                    display: block;
                    margin-top: 5px;
                }

                &.produccion span {
                    margin-left: 30px;
                }
            }
        }

        .cta-btn a {
            display: block;
            align-items: center;
            align-content: center;
            justify-content: center;
            line-height: 48px;
            font-size: 18px;
            max-width: 325px;
            margin: 0 auto;

            &:before {
                left: 65px;
            }
        }

        .price {
            border-top: 0.5px solid #9E7E53;
        }
    }

    .disclaimer .content {
        margin: 40px auto;

        p {
            font-size: 12px;
            line-height: 17px;
        }
    }

    .contenido {
        width: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 21.87%);
        mix-blend-mode: normal;
    }
}
.add-product {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.9);
    z-index: 99;
}

.add-product .content {
    background: #FFF;
    width: 586px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 25px 40px;
}

.add-product .content h2 {
    text-align: center;
    margin: 0;
    font-family: Times-bold;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #524735;
    margin-bottom: 25px;
}

.add-product .content .cta-btn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}
.add-product .content .cta-btn a:last-child {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    color: #524735;
}
.add-product .content .cta-btn a:last-child:hover {
    box-shadow: none;
}
.add-product .content .cta-btn .ver-carrito {
    background: #9E7E53;
    border-radius: 21px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 35px;
    display: inline-block;
    margin-bottom: 15px;
}

.add-product .content .cta-btn .ver-carrito:hover {
    text-decoration: none;
    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
}
@media screen and (min-width: 1700px) {
    .contenido {
        margin-top: 5%;
        padding-bottom: 2%;
    }
}
