@-webkit-keyframes fade-in-bl {
    0% {
        -webkit-transform: translateX(-50px) translateY(50px);
        transform: translateX(-50px) translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bl {
    0% {
        -webkit-transform: translateX(-50px) translateY(50px);
        transform: translateX(-50px) translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.tutorial-box {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    top: 0;
    left: -5000px;
    width: 100%;
    height: 100vh;
    transition: all 1s ease;

    .content {
        .pasos {
            position: absolute;
            opacity: 0;
        }

        position: relative;
        width: 100%;
        height: 100%;

        .pasos.pasoUno {
            right: 6px;
            top: 30px;
        }

        .pasos.pasoDos {
            right: 10.2%;
            bottom: 0;
        }

        .pasos.pasoTres {
            top: 34%;
            left: 8.5%;
        }

        .pasos.pasoCuatro {
            left: 16%;
            top: 23%;
        }

        .pasos.pasoCinco {
            left: 11.5%;
            bottom: 5%;
        }

        .pasos.pasoUno.active {
            -webkit-animation: fade-in-bl 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
            animation: fade-in-bl 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
        }

        .pasos.pasoDos.active {
            -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) .9s both;
            animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) .9s both;
        }

        .pasos.pasoTres.active {
            -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
            animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
        }

        .pasos.pasoCuatro.active {
            -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
            animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.2s both;
        }

        .pasos.pasoCinco.active {
            -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) .9s both;
            animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) .9s both;
        }
    }
}

.tutorial-box.active {
    left: 0;
}

@media screen and (max-width: 767px) {
    .tutorial-box {
        .content {
            .pasos.pasoUno {
                right: 2px;
                top: 4px;
            }

            .pasos.pasoDos {
                right: auto;
                bottom: auto;
                top: 62.7%;
                left: 13%;
                transform: translateX(-50%);

                img {
                    width: 85%;
                }
            }

            .pasos.pasoTres {
                top: 43%;
                left: 8.5%;
            }

            .pasos.pasoCuatro {
                left: 0;
                top: 26%;

                img {
                    width: 100%;
                }
            }

            .pasos.pasoCinco {
                left: 14px;
                bottom: auto;
                top: 34%;
            }
        }
    }
}

@media screen and (min-width: 1700px) {
    .tutorial-box {
        .content {
            .pasos.pasoDos {
                right: 12%;
                bottom: 11%;
            }

            .pasos.pasoTres {
                top: 32%;
                left: 15%;
            }

            .pasos.pasoCuatro {
                left: 25.7%;
                top: 16%;
            }

            .pasos.pasoCinco {
                left: 22.5%;
                bottom: 36%;
            }
        }
    }
}
