/* section.viva-content {
        margin-top: 45px;
    }*/
.breadcrumb {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
}

.viva-content {
    .content {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 60px;

        .title {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;

            h2 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 35px;
                line-height: 46px;
                color: #FFF;
            }

            img {
                margin-right: 30px;
            }
        }

        .bajada {
            margin-bottom: 40px;

            h3 {
                font-family: Times-bold;
                font-style: normal;
                font-size: 22px;
                line-height: 150%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 0;
                margin-top: 10px;
            }

            p {
                font-family: Work-Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                color: #FFFFFF;
                margin-top: 0;
            }
        }

        .viva-grilla {
            .content {
                display: block;
                flex-wrap: wrap;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                margin-bottom: 0;

                .item-viva {
                    width: 30%;
                    margin-bottom: 50px;
                    transition: all .3s ease;
                    padding: 10px;
                    border: 1px solid transparent;
                    display: none;

                    h2 {
                        font-family: Times-bold;
                        font-style: normal;
                        font-size: 15px;
                        line-height: 150%;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin: 15px auto;
                    }

                    p {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: #FFFFFF;
                        opacity: 0.5;
                        margin: 0 auto;
                    }

                    .show {
                        cursor: pointer;

                        img {
                            width: 100%;
                        }
                    }

                    &:hover {
                        border-color: #524735;
                    }
                }
                .item-licores {
                    width: 30%;
                    margin-bottom: 50px;
                    transition: all .3s ease;
                    padding: 10px;
                    border: 1px solid transparent;
                    display: none;

                    h2 {
                        font-family: Times-bold;
                        font-style: normal;
                        font-size: 15px;
                        line-height: 150%;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin: 15px auto;
                    }

                    p {
                        font-family: Work-Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: #FFFFFF;
                        opacity: 0.5;
                        margin: 0 auto;
                    }

                    .show {
                        cursor: pointer;

                        img {
                            width: 100%;
                        }
                    }

                    &:hover {
                        border-color: #524735;
                    }
                }
            }
        }
    }
}
.viva-content .content .viva-grilla .content .crono-table .content-videos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: space-around;
}
.viva-content .content .viva-grilla .content .crono-table .table-tabs .tabs .tab {
    width: 49.5%;
}
main.viva {
    background: url($images-base-path + "bg_viva.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top 55px;
    padding-top: 145px;
}

div.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    transform: translate(-50%, -50%);
    z-index: 99;

    .white_content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
        text-align: right;
        min-width: 900px;

        .player {
            margin-top: 15px;
            width: 100%;
            height: 507px;

            iframe {
                width: 100%;
                height: 507px;
            }
        }
    }
}

div#loadMoreL {
    a {
        background: #9E7E53;
        border-radius: 36px;
        display: block;
        height: 40px;
        width: 190px;
        margin: 0 auto;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }
}
div#loadMoreB {
    a {
        background: #9E7E53;
        border-radius: 36px;
        display: block;
        height: 40px;
        width: 190px;
        margin: 0 auto;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }
}
@media screen and (max-width: 767px) {
    main.viva {
        background: url($images-base-path + "bg_viva.jpg");
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: center top 65px;
        padding-top: 70px;
    }
    .breadcrumb {
        .content {
            width: 90%;
        }
    }
    .viva-content {
        .content {
            width: 95%;
            flex-direction: column;

            .title {
                width: 95%;
                margin: 0 auto;

                img {
                    margin-right: 5px;
                    width: 47px;
                }

                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .bajada {
                width: 95%;
                margin: 0 auto;
                margin-bottom: 40px;

                h3 {
                    font-size: 20px;
                }

                p {
                    margin-top: 10px;
                }
            }

            .viva-grilla {
                .content {
                    .item-viva {
                        width: 100%;
                        margin-bottom: 40px;
                    }
                    .item-licores {
                        width: 100%;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1700px) {
    main.viva {
        padding-top: 180px;
    }
}
