@import "variables";

@font-face {
    font-family: 'Work-Sans';
    src: url($fonts-base-path +  'WorkSans-Regular.eot');
    src: url($fonts-base-path +  'WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
    url($fonts-base-path +  'WorkSans-Regular.woff') format('woff'),
    url($fonts-base-path +  'WorkSans-Regular.ttf') format('truetype'),
    url($fonts-base-path +  'WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url($fonts-base-path +  'WorkSans-Medium.eot');
    src: url($fonts-base-path +  'WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
    url($fonts-base-path +  'WorkSans-Medium.woff') format('woff'),
    url($fonts-base-path +  'WorkSans-Medium.ttf') format('truetype'),
    url($fonts-base-path +  'WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url($fonts-base-path +  'WorkSans-SemiBold.eot');
    src: url($fonts-base-path +  'WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url($fonts-base-path +  'WorkSans-SemiBold.woff') format('woff'),
    url($fonts-base-path +  'WorkSans-SemiBold.ttf') format('truetype'),
    url($fonts-base-path +  'WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: url($fonts-base-path +  'Times.eot');
    src: url($fonts-base-path +  'Times.eot?#iefix') format('embedded-opentype'),
    url($fonts-base-path +  'Times.woff') format('woff'),
    url($fonts-base-path +  'Times.ttf') format('truetype'),
    url($fonts-base-path +  'Times.svg#Times') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times-bold';
    src: url($fonts-base-path +  'Times-Bold.eot');
    src: url($fonts-base-path +  'Times-Bold.eot?#iefix') format('embedded-opentype'),
    url($fonts-base-path +  'Times-Bold.woff') format('woff'),
    url($fonts-base-path +  'Times-Bold.ttf') format('truetype'),
    url($fonts-base-path +  'Times-Bold.svg#Times-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url($fonts-base-path +  'HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
    url($fonts-base-path +  'HelveticaNeueLTStd-Lt.otf') format('opentype'),
    url($fonts-base-path +  'HelveticaNeueLTStd-Lt.woff') format('woff'),
    url($fonts-base-path +  'HelveticaNeueLTStd-Lt.ttf') format('truetype'),
    url($fonts-base-path +  'HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: normal;
    font-style: normal;
}
