@import "variables";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
#site-nav.no-tutorial .cronograma .opcion-crono {
    text-align: center;
    width: 100%;
}
#masthead .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: #000;

    .logo img {
        width: 150px;
        transition: all .3s ease;
    }
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
}

#masthead .container .logo {
    margin: 1.5em;
    transition: all .3s ease;

    h1 {
        display: none;
    }
}

.hero * {
    position: relative;
    z-index: 1;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: -1;
    }

    &.is-active:after {
        opacity: 1;
    }
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: inherit;
    margin: 0 0 0 24px;
    overflow: visible;
    outline: none;
    padding: 0;
    text-transform: none;
    transition: opacity 0.15s;
    -webkit-appearance: none;
    z-index: 2;

    &:hover {
        opacity: 0.7;
    }
}

.hamburger-box {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    width: 23px;
    height: 3px;
    background-color: #9E7E53;
    border-radius: 7px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;

    &::before, &::after {
        width: 23px;
        height: 3px;
        background-color: #9E7E53;
        border-radius: 7px;
        position: absolute;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }
}

#masthead.is-active .hamburger-inner {
    background-color: var(--dorado-uno);

    &::before, &::after {
        background-color: var(--dorado-uno);
    }
}

.hamburger-inner {
    &::before, &::after {
        content: "";
        display: block;
    }

    &::before {
        top: -8px;
    }

    &::after {
        bottom: -8px;
    }
}

.hamburger--boring {
    .hamburger-inner {
        transition-property: none;

        &::before, &::after {
            transition-property: none;
        }
    }

    &.is-active .hamburger-inner {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        &::before {
            top: 0;
            opacity: 0;
        }

        &::after {
            bottom: 0;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }
}

.hamburger-label {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1;
    margin-left: 0.3125em;
    text-transform: uppercase;
}

#masthead.is-active .hamburger-label {
    color: #000;
}

.hamburger-box, .hamburger-label {
    display: inline-block;
    vertical-align: middle;
}

#site-nav {
    clear: both;
    display: none;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    padding: 2.5em;
    width: 100%;
}

#masthead .container .opciones-cabecera {
    display: flex;
    color: #FFF;
    margin-right: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    width: calc(100% - 150px);
    margin: 1.5em;
    transition: all .3s ease;

    .tutorial {
        img {
            vertical-align: middle;
        }

        display: block;
        width: auto;
        text-align: center;
        height: 31px;
        line-height: 29px;
        border-right: 1px solid var(--dorado-uno);
        padding-right: 15px;
        margin-right: 15px;
    }

    .welcome {
        margin-right: 15px;
    }

    .carrito {
        .nro-items {
            position: absolute;
            font-family: Work-Sans, serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 145%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #FFFFFF;
            width: 18px;
            height: 18px;
            border: 1px solid var(--dorado-uno);
            border-radius: 100%;
            top: -7px;
            right: -12px;
            background: #000;
        }

        margin-right: 5px;
        position: relative;
    }

    .welcome p {
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        transition: all .3s ease;
    }
    #masthead .container .opciones-cabecera .welcome p a {
        color: #FFF;
    }
}

#masthead .container .opciones-cabecera .welcome p img {
    vertical-align: middle;
    margin-right: 5px;
}
#site-nav {
    &.is-active {
        height: calc(100vh - 125px);
        overflow: visible;
        background: url(../images/bg-menu.png);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        transition: all 0.3s ease;
        text-align: center;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center top;
        -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        padding-top: 7em;
    }

    .col {
        padding-bottom: 2.5em;
    }

    h4 {
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .cronograma {
        width: 100%;
        text-align: center;
        border-top: 1px dashed rgba(158, 126, 83, 0.6);
        padding-top: 20px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        a {
            font-family: Work-Sans, serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            text-transform: uppercase;
            color: #524735;
        }
    }

    ul {
        list-style-type: none;
        width: 100%;
        padding: 0;
    }

    li {
        margin-bottom: 25px;
        float: none;

        &:last-child {
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            transition: color 0.3s ease;
            font-family: Times, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 130%;
            text-align: center;
            color: #FFFFFF;

            img {
                margin-right: 12px;
            }

            &:hover, &:focus {
                color: var(--dorado-uno);
            }
        }

        &.active a {
            color: var(--dorado-uno);
        }
    }

    .social {
        margin: 0;
        overflow: hidden;

        li {
            float: left;
            margin: 0 0.3125em;
            width: 32px;
            height: 32px;

            svg {
                display: block;
                fill: #b4b9ba;
                width: 100%;
                height: 100%;
                transition: fill 0.3s ease;
            }

            &:hover svg {
                fill: #686d6e;
            }
        }
    }
}
#site-nav .cronograma .opcion-crono {
    width: 55%;
    text-align: right;
}
#site-nav .cronograma .tutorial {
    text-align: right;
    width: 45%;
}
#site-nav .cronograma .tutorial a {
    font-family: Work-Sans, serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    font-size: 14px;
    line-height: 150%;
    color: #524735;
    text-decoration: underline;
}
#site-nav .cronograma .tutorial img {
    vertical-align: middle;
    opacity: 0.5;
    margin-right: 5px;
}
@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
.onload-more {
    width: 100%;
    text-align: center;
}

.onload-more span {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 37px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    background: #9E7E53;
    border-radius: 36px;
    padding: 0 35px;
    height: 37px;
    display: inline-block;
    outline: none;
    transition: all 0.3s ease;
}
@media screen and (min-width: 550px) {
    #site-nav {
        flex-direction: row;
        flex-wrap: wrap;

        .col {
            flex: 0 0 50%;
        }
    }
}

@media screen and (min-width: 768px) {
    #site-nav .col {
        flex: 0 0 33.333333333%;
    }
}

@media screen and (min-width: 960px) {
    #site-nav {
        flex-wrap: nowrap;

        .col {
            flex: 0 0 20%;

            &:last-child {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

#masthead.is-active .container .opciones-cabecera {
    .tutorial, .carrito {
        display: none;
    }
}

#masthead-search {
    float: right;
    margin-top: 0.625em;
    width: 100%;
    max-width: 14em;
    position: relative;
    -webkit-appearance: none;

    input {
        background: transparent;
        border: none;
        border-color: #fff;
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        outline: none;
        width: 100%;
        padding: 0.75em 1.125em;
        transition: border-color 0.3s ease;
        -webkit-appearance: none;
    }

    button {
        background: none;
        border: none;
        color: #fff;
        font-size: 1em;
        padding: 0;
        position: absolute;
        top: 50%;
        right: 0.75em;
        transform: translateY(-50%);
        -webkit-appearance: none;
    }
}

#masthead.is-active #masthead-search {
    button {
        color: #b4b9ba;
    }

    input {
        border-color: #b4b9ba;
    }
}

#masthead-search {
    ::-webkit-input-placeholder {
        color: #fff;
    }

    :-moz-placeholder, ::-moz-placeholder {
        color: #fff;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #fff;
    }
}

#masthead {
    &.is-active #masthead-search {
        ::-webkit-input-placeholder {
            color: #b4b9ba;
        }

        :-moz-placeholder, ::-moz-placeholder {
            color: #b4b9ba;
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: #b4b9ba;
        }
    }

    .col {
        opacity: 0;
    }

    &.is-active .col {
        transform: translateY(40px);
        transition: opacity 0.3s ease;
        animation: fade-in-stagger 0.8s ease forwards;

        &:nth-child(1) {
            -webkit-animation-delay: 0s;
        }

        &:nth-child(2) {
            -webkit-animation-delay: 0.1s;
        }

        &:nth-child(3) {
            -webkit-animation-delay: 0.2s;
        }

        &:nth-child(4) {
            -webkit-animation-delay: 0.3s;
        }

        &:nth-child(5) {
            -webkit-animation-delay: 0.4s;
        }
    }

    &.header-fixed .container {
        .logo {
            margin: 0.5em 1.5em;

            img {
                width: 120px;
            }
        }

        .opciones-cabecera {
            margin: 0.5em 1.5em;
        }
    }

    &.is-active.header-fixed #site-nav {
        height: calc(100vh - 78px);
    }
}

@keyframes fade-in-stagger {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button:focus {
    outline: none;
    background-color: transparent;
}

* {
    &:focus, &:active, &:hover {
        outline: none;
    }

    box-sizing: border-box;
}

:root {
    --dorado-uno: #9E7E53;
    --dorado-dos: #524735;
    --negro: #000;
    --gris: #231F20;
    --rojo: #ED1C24;
}

main {
    display: block;
    padding-top: 124px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--negro);
}

a {
    text-decoration: none;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    background: var(--gris);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--dorado-uno);
    transition: background .3s ease;

    &:hover {
        background: var(--dorado-dos);
    }
}

/* Handle on hover */

.registro main, .login main {
    padding-top: 0;
}

.breadcrumb .content p a {
    font-family: Work-Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: #9E7E53;
}
.breadcrumb {
    transition: all .3s ease;
}
.breadcrumb.breadFixed {
    position: fixed;
    top: 75px;
    left: 75px;
}
.paginador ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        &.number {
            &.current a {
                border: 1px solid var(--dorado-uno);
                border-radius: 100%;
                color: #FFF;
                text-decoration: none;
                font-weight: 600;
            }

            a {
                &:hover {
                    border: 1px solid var(--dorado-uno);
                    border-radius: 100%;
                    color: #FFF;
                    text-decoration: none;
                    font-weight: 600;
                }

                color: var(--dorado-dos);
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 33px;
                text-align: center;
                letter-spacing: 0.14em;
                text-decoration-line: underline;
                display: block;
                width: 39px;
                height: 39px;
                margin: 0 12px;
            }
        }

        &.arrow a {
            margin: 0 7.5px;
        }
    }
}

.tag-sale {
    background: url($images-base-path + "label_dcto.png");
    width: 97px;
    height: 41px;
    line-height: 38px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;

    span {
        font-family: Work-Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        > span {
            font-family: Times-bold;
            font-style: normal;
            font-size: 24px;
            color: #FFFFFF;
        }
    }
}

#tag-live span {
    background: var(--rojo);
    border-radius: 3px;
    width: 87px;
    height: 26px;
    display: block;
    line-height: 26px;
    text-align: center;
    font-family: Work-Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;

    .dot {
        display: inline-block;
        background: #FFF;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        margin-right: 2px;
        -webkit-animation: blink-1 1.2s infinite both;
        animation: blink-1 1.2s infinite both;
    }
}

@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

/*filtros*/

.filtros {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

        .filtro-ppal {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        .otros-filtros {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin: 30px 0;
        }

        .filtro-ppal {
            label {
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                text-transform: uppercase;
                color: #9E7E53;
                opacity: 0.6;
                margin-right: 10px;
            }

            select {
                border: 1px solid #9E7E53;
                border-radius: 34px;
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                height: 46px;
                padding: 0 25px;
                padding-right: 40px;
                background: url($images-base-path + "select_tipo_vino.png") no-repeat scroll;
                background-position: right 15px top 13px;
                background-size: 17px auto;
                z-index: 1;
                cursor: pointer;
                position: relative;
                display: block;
                width: auto;

                option {
                    &:hover {
                        background: var(--dorado-uno);
                        color: var(--gris);
                    }

                    background: var(--gris);
                    color: var(--dorado-uno);
                }
            }
        }

        .otros-filtros select option {
            background: var(--gris);
            color: var(--dorado-uno);
        }

        .filtro-ppal select {
            appearance: unset;
            -moz-appearance: unset;
            -webkit-appearance: unset;
            -o-appearance: unset;
            -ms-appearance: unset;
            outline: none;
            -moz-outline: none;
            -webkit-outline: none;
            -o-outline: none;
            -ms-outline: none;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
        }

        .otros-filtros {
            select {
                appearance: unset;
                -moz-appearance: unset;
                -webkit-appearance: unset;
                -o-appearance: unset;
                -ms-appearance: unset;
                outline: none;
                -moz-outline: none;
                -webkit-outline: none;
                -o-outline: none;
                -ms-outline: none;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -o-box-sizing: border-box;
                -ms-box-sizing: border-box;
            }

            .control-filter.row {
                margin: 0 auto;

                .select-wrapper {
                    margin-right: 10px;

                    input.select-dropdown.dropdown-trigger {
                        padding: 0 30px 0 20px;
                        margin: 0;
                        text-align: left;
                        width: 100px;
                    }

                    .caret {
                        display: none;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        background: url($images-base-path + "select_filtro.png") no-repeat scroll;
                        background-position: right 8px top 10px;
                        background-size: auto;
                        z-index: 1;
                        width: 20px;
                        height: 24px;
                        top: 2px;
                        right: 8px;
                    }
                }
            }
        }
    }

    margin: 40px 0;
}

.dropdown-content {
    background-color: #000;
    top: 40px !important;

    li {
        width: 100%;
        text-align: left;
        background: var(--gris);
        color: var(--dorado-uno);
    }
}

.select-dropdown li {
    &.disabled {
        background: var(--gris);
        color: var(--dorado-uno);

        > span {
            background: var(--gris);
            color: var(--dorado-uno);
        }
    }

    &.optgroup {
        background: var(--gris);
        color: var(--dorado-uno);
    }
}

[type="checkbox"]:checked + span:not(.lever):before {
    width: 10px;
    height: 18px;
    border-right: 2px solid var(--dorado-uno);
    border-bottom: 2px solid var(--dorado-uno);
}

.select-dropdown.dropdown-content li {
    &.selected, &:hover {
        background-color: rgb(82, 71, 53, 0.15);
    }
}

[type="checkbox"] {
    + span:not(.lever):before, &:not(.filled-in) + span:not(.lever):after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid var(--dorado-uno);
        border-radius: 1px;
        margin-top: 3px;
        -webkit-transition: .2s;
        transition: .2s;
    }

    + span:not(.lever) {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: Work-Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
    }
}

.filtros .content .otros-filtros {
    label {
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.6;
        margin-right: 10px;
    }

    .control-filter {
        margin-right: 10px;
    }

    select, input, button {
        border: 1px solid #524735;
        border-radius: 23px;
        background: transparent;
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #C5C5C5;
        height: 36px;
        padding: 0 25px;
        cursor: pointer;
        transition: all .3s ease;
        outline: none;
    }

    select:hover, input:hover, button:hover, select:active, input.active, button.active {
        border: 1px solid var(--dorado-uno);
    }

    select {
        &.pais, &.tipo-vino {
            background: url($images-base-path + "select_filtro.png") no-repeat scroll;
            background-position: right 15px top 10px;
            background-size: 12px auto;
            z-index: 1;
            position: relative;
        }

        &.precio {
            background: url($images-base-path + "select_precio.png") no-repeat scroll;
            background-position: right 15px top 10px;
            background-size: 19px auto;
            z-index: 1;
            position: relative;
            display: block;
        }

        &.pais {
            display: block;
        }
    }
}

.solo-desktop {
    display: block;
}

.solo-mobile {
    display: none;
}

footer .content {
    img {
        margin-right: 20px;
    }

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 35px 0;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #C5C5C5;
}

@media screen and (min-width: 1700px) {
    .breadcrumb .content p a {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .solo-desktop {
        display: none !important;
    }

    .solo-mobile {
        display: block;
    }

    footer .content {
        flex-direction: column;

        img {
            margin-right: 0;
            width: 59px;
            margin-bottom: 15px;
        }
    }
    .breadcrumb.breadFixed {
        position: initial;
        top: auto;
        left: auto;
    }

    #masthead .container {
        .logo img {
            width: 90px;
            transition: all .3s ease;
        }

        .opciones-cabecera .welcome {
            display: none;
        }

        .logo {
            margin: 9px 20px;
            transition: all .3s ease;
        }

        .opciones-cabecera {
            transition: all .3s ease;
            margin: 9px 12px;

            .carrito {
                margin-right: 0;
            }
        }
    }

    main {
        display: block;
        padding-top: 65px;
    }

    #masthead.header-fixed .container {
        .logo {
            margin: 9px 20px;

            img {
                width: 90px;
            }
        }

        .opciones-cabecera {
            margin: 9px 12px;
        }
    }

    #site-nav.is-active, #masthead.is-active.header-fixed #site-nav {
        height: calc(100vh - 65px);
        justify-content: flex-start;
    }

    #site-nav.is-active {
        background: #000 url($images-base-path + "bg-menu-m.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }

    #masthead.is-active .container .opciones-cabecera .welcome {
        display: block;
    }

    .filtros .content .abrir-filtros a img {
        margin-right: 15px;
    }

    section.filtros-mobile {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
        z-index: 999;
        transform: translateX(1000px);
        transition: all .3s ease;

        &.active {
            transform: translateX(0);
        }

        .content {
            background: #231F20;
            width: 80%;
            height: 100vh;
            margin-right: 0;
            margin-left: auto;

            .cabecera {
                background: var(--dorado-dos);
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                height: 52px;

                p {
                    margin: 0 auto;
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 50px;
                    text-align: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    width: calc(100% - 100px);
                    margin-left: auto;
                    margin-right: 0;
                }

                a {
                    display: block;
                    width: 52px;
                    height: 52px;
                    text-align: center;
                    line-height: 62px;
                }
            }

            .filtros {
                margin: 0 auto;

                .exclusividad, .recomendados {
                    height: 63px;
                    border-bottom: 1px solid var(--dorado-uno);
                    display: flex;
                    align-items: center;
                    padding: 0 24px;
                }

                .exclusividad label span, .recomendados label span {
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    padding-left: 35px;
                }
            }
        }
    }

    [type="checkbox"].filled-in {
        &:not(:checked) + span:not(.lever):after {
            height: 23px;
            width: 23px;
            border: 0;
            top: 0px;
            z-index: 0;
            background: #E5E5E5;
            border-radius: 2px;
        }

        &:checked + span:not(.lever) {
            &:after {
                top: 0;
                width: 23px;
                height: 23px;
                border: 0;
                background-color: #E5E5E5;
                z-index: 0;
            }

            &:before {
                top: 0;
                left: 2px;
                width: 8px;
                height: 14px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid var(--dorado-dos);
                border-bottom: 2px solid var(--dorado-dos);
                -webkit-transform: rotateZ(37deg);
                transform: rotateZ(37deg);
                -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
            }

            color: var(--dorado-uno) !important;
        }
    }

    section.filtros-mobile .content .filtros {
        ul.collapsible {
            margin: 0;
            border: 0;
            box-shadow: none;

            li {
                .collapsible-header {
                    background: transparent;
                    border-bottom: 1px solid var(--dorado-uno);
                    font-family: Work-Sans, serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 65px;
                    color: #FFFFFF;
                    align-items: center;
                    align-content: center;
                    justify-content: space-between;
                    padding: 0 24px;
                    text-transform: uppercase;
                }

                .collapsible-body {
                    border: 0;
                    padding: 0.5rem 2rem;
                }

                .collapsible-header img {
                    transform: rotate(180deg);
                    opacity: 0.4;
                }

                &.active {
                    .collapsible-header {
                        img {
                            transform: rotate(0deg);
                            opacity: 1;
                        }

                        color: var(--dorado-uno);
                    }

                    .collapsible-body {
                        border-bottom: 1px solid var(--dorado-uno);
                    }

                    &:last-child .collapsible-body {
                        border-bottom: 0;
                    }
                }

                &.tipo .collapsible-body label, &.precio .collapsible-body label {
                    display: block;
                    margin-bottom: 0;
                    font-family: Work-Sans, serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 43px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }

                &.tipo .collapsible-body label span, &.precio .collapsible-body label span {
                    font-size: 16px;
                    line-height: 23px;
                    height: auto;
                    padding-left: 35px;
                }
            }
        }

        .cta-btn {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-content: center;
            justify-content: center;
            margin: 50px 0 0 0;
            padding: 0 24px;

            .filtrar {
                background: var(--dorado-uno);
                border-radius: 32px;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                color: #FFFFFF;
                padding: 0 60px;
                height: 38px;
                transition: all .3s ease;
                display: inline-flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                width: auto;
                font-family: Work-Sans;
                font-style: normal;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .limpiar {
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                text-align: right;
                letter-spacing: -0.015em;
                color: #FFFFFF;
                padding: 0 15px;
                line-height: 36px;
                background: transparent;
                border-radius: 0;
            }
        }
    }
}
.slider {
    height: auto;
}
span#lbDNI {
    bottom: -50px;
}
.error {
    position: absolute;
    background: #ED1C24;
    color: #FFF;
    bottom: -20px;
    right: 0px;
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 3px;
    opacity: 1;
    z-index: 9;
}
.error:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ED1C24;
    position: absolute;
    top: -12px;
    right: 10px;
}
.error:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -27px;
    right: 9px;
    background: #f0f0f0 url($images-base-path + "alerta.png");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center;
}
.cliente-vip {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.9);
    z-index: 99;
}

.cliente-vip .content {
    background: #FFF;
    width: 586px;
    height: 272px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 25px 40px;
}
.check-custom {
  display: block;
}

.check-custom input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.check-custom label {
    position: relative;
    cursor: pointer;
    border: 1px solid #524735;
    border-radius: 23px;
    background: transparent;
    font-family: Work-Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #C5C5C5;
    height: 38px;
    padding: 0 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    display: block;
    line-height: 38px!important;
}


.check-custom input:checked + label,
.check-custom input + label:hover {
    border: 1px solid #524735;
    background: #524735;
    opacity: 1 !important;
}
.cliente-vip .content h2 {
    text-align: center;
    margin: 0;
    font-family: Times-bold;
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    color: #524735;
}

.cliente-vip .content .bajada {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #524735;
    opacity: 1;
}

.cliente-vip .content p {
    font-family: Work-Sans;
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #524735;
    opacity: 0.6;
}

.cliente-vip .content .cta-btn a {
    background: #9E7E53;
    border-radius: 21px;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 35px;
    display: inline-block;
}

.cliente-vip .content .cta-btn a:hover {
    text-decoration: none;
    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
}
