@import "variables";

@media (max-device-width: 800px) and (orientation: portrait) { 
    .eventos .content .banners-home .slider-nav .item .description .content .title h2,
    .eventos .content .banners-home .slider-nav .item .description.sale-exclusive .content .title h2 {
        font-size: 35px;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .cta-btn a {
        font-size: 21px;
        line-height: 48px;
        padding: 0 40px;
        height: 48px;
    }
    .eventos .content .banners-home .slider-nav .item .description .content .text {
        font-size: 20px;
    }
    .inicio .content .formulario {
        right: 3%;
    }
    .inicio .content .slider .fade .item .descripcion {
        position: absolute;
        top: 26%;
        left: 28%;
        transform: translate(-50%, -50%);
        width: 42%;
    }
    .inicio .content .slider .fade .item .descripcion .title {
        font-size: 70px;
    }
    .login header .content .logo img, .registro header .content .logo img {
        height: 80px;
        margin: 0 auto;
    }
    .registro header .content .logo img {
        height: 80px;
    }
    .eventos .content .banners-home .slider-for {
        width: 100%;
    }
    .eventos .content .banners-home .slider-nav {
        width: 100%;
    }
    .eventos .content .banners-home .slider-nav .item .description .content {
        width: 100%;
    }
    .eventos .content .banners-home .slider-nav .item .description.crono .content .title h2 br {
        display: none;
    }
    .content-users .content .access .item a > img {
        width: 100%;
        margin: 0 auto;
    }
    .bodega-home .pasos-compra {
        width: 95%;
        margin: 0 auto;
    }
    .pasos-compra .content fieldset {
        padding: 40px;
    }
    .pasos-compra .content fieldset {
        border-radius: 5px;
        padding: 40px;
    }
    .content-users .content .access .item a span {
        font-size: 16px;
    }
    .bodega-home .content .resultados .content-result .item {
        min-height: auto;
        width: 30%;
    }
    .la-bodega .content, .breadcrumb .content, .carrito-content .content {
        max-width: 90%;
    }
    .productos-bodega .content .vinos-bodega .content-vinos-bodega {
        width: 90%;
        margin: 0 auto;
    }
    .productos-bodega .content .vinos-bodega .content-vinos-bodega .item {
        max-width: 100%;
        text-align: center;
        margin-bottom: 60px;
    }
    .breadcrumb.breadFixed {
        position: initial;
        top: auto;
        left: auto;
    }
    .contenido.boxes, .contenido {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 18%);
    }
    .content-users .content .access {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .bodega-home .content .resultados .content-result {
        width: 90%;
        margin: 0 auto;
    }
    .content-users .content .access .item {
        margin: 0 10px;
        width: 30%;
    }
    .hablemos-content .content, .cata-content .content, .cronograma-content .content {
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
    }
    .crono-table .table-content table tbody tr td:last-child {
        justify-content: flex-start;
        flex-direction: column;
    }
    .crono-table .table-content table tbody tr td:nth-child(3) .cta-btn {
        margin-bottom: 18px;
    }
    .crono-table .table-content table tbody tr td:nth-child(2) {
        width: 17%;
    }
    .crono-table .table-content table tbody tr td:nth-child(3) .cta-btn {
        width: 100%;
        text-align: center;
    }
    .crono-table .table-content table tbody tr td:nth-child(3) .cta-btn {
        width: 100%;
        text-align: center;
    }
    .cronograma .crono-table .table-content table tbody tr td:nth-child(1) {
        width: 25%;
    }
    .cronograma .crono-table .table-content table tbody tr td:nth-child(2) {
        width: auto;
        flex-direction: row;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
    .registro section.inicio {
        padding-bottom: 180px;
    }
    .inicio .content .formulario {
        right: 3%;
    }
    .inicio .content .slider .fade .item .descripcion {
        position: absolute;
        top: 37%;
        left: 28%;
        width: 75%;
        transform: translate(-50%, -50%);
        width: 42%;
    }
    .inicio .content .slider .fade .item .descripcion .title {
        font-size: 70px;
    }
    .login header .content .logo img, .registro header .content .logo img {
        height: 80px;
        margin: 0 auto;
    }
    .registro header .content .logo img {
        height: 80px;
    }
    .eventos .content .banners-home .slider-for {
        width: 100%;
    }
    .eventos .content .banners-home .slider-nav {
        width: 100%;
    }
    .eventos .content .banners-home .slider-nav .item .description .content {
        width: 100%;
    }
    .eventos .content .banners-home .slider-nav .item .description.crono .content .title h2 br {
        display: none;
    }
    .content-users .content .access .item a > img {
        width: 100%;
        margin: 0 auto;
    }
    .bodega-home .pasos-compra {
        width: 95%;
        margin: 0 auto;
    }
    .pasos-compra .content fieldset {
        padding: 40px;
    }
    .pasos-compra .content fieldset {
        border-radius: 5px;
        padding: 40px;
    }
    .content-users .content .access .item a span {
        font-size: 16px;
    }
    .bodega-home .content .resultados .content-result .item {
        min-height: auto;
        width: 32%;
    }
    .la-bodega .content, .breadcrumb .content, .carrito-content .content {
        max-width: 90%;
    }
    .productos-bodega .content .vinos-bodega .content-vinos-bodega {
        width: 90%;
        margin: 0 auto;
    }
    .productos-bodega .content .vinos-bodega .content-vinos-bodega .item {
        max-width: 30%;
        text-align: center;
        margin-bottom: 60px;
    }
    .breadcrumb.breadFixed {
        position: initial;
        top: auto;
        left: auto;
    }
    .contenido.boxes, .contenido {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 18%);
    }
    .crono-table .table-content table tbody tr td:last-child {
        justify-content: flex-start;
        flex-direction: column;
    }
    .crono-table .table-content table tbody tr td:nth-child(3) .cta-btn {
        margin-bottom: 18px;
    }
    .crono-table .table-content table tbody tr td:nth-child(2) {
        width: 17%;
    }
    .crono-table .table-content table tbody tr td:nth-child(3) .cta-btn {
        width: 100%;
        text-align: center;
    }
    .crono-table .table-content table tbody tr td:nth-child(3) .cta-btn {
        width: 100%;
        text-align: center;
    }
    .cronograma .crono-table .table-content table tbody tr td:nth-child(1) {
        width: 25%;
    }
    .cronograma .crono-table .table-content table tbody tr td:nth-child(2) {
        width: auto;
        flex-direction: row;
    }
    .hablemos-content .content, .cata-content .content, .cronograma-content .content, .breadcrumb .content, .carrito-content .content {
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
    }
    .bodega-home .content {
        max-width: 90%;
    }
    .bodega-home .content .resultados .content-result .item {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    #login span#lbDNI {
        bottom: -21px;
    }
    #registro span#lbDNI {
        bottom: -50px;
        min-width: auto;
    }
    .solo-desktop {
        display: none !important;
    }

    .solo-mobile {
        display: block;
    }
    .cliente-vip .content {
        width: 90%;
        height: auto;
    }
    .add-product .content {
        width: 90%;
        height: auto;
    }
    .add-product .content img {
        width: 60px;
    }
    .agendar-evento .content {
        width: 90%;
    }
    .agendar-evento .content h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .agendar-evento .content p { 
        font-size: 14px;
    }
    .agendar-evento .content .cta-btn {
        flex-direction: column;
    }
    .agendar-evento .content .cta-btn .btn-agendar.ocalendar {
        margin: 15px 0;
    }
    .login header .content .logo img, .registro header .content .logo img {
        height: 70px!important;
        margin-right: 0;
    }
    div.lightbox .white_content {
        min-width: 90%;
    }
    div.lightbox .white_content .player {
        height: auto;
    }
    .login header .content .presentacion, .registro header .content .presentacion {
        position: relative;
        margin-left: 0;
        width: 91%;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
    }

    .login header .content .presentacion:before, .registro header .content .presentacion:before {
        content: "";
        height: 0;
        border: 1px solid var(--dorado-dos);
        position: absolute;
        left: 50%;
        top: -25px;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 145px;
    }

    .login header .content .presentacion h2, .registro header .content .presentacion h2 {
        font-size: 24px;
        line-height: 120%;
        text-transform: uppercase;
    }

    .login header .content .presentacion .bajada, .registro header .content .presentacion .bajada, .login header .content .presentacion .texto, .registro header .content .presentacion .texto {
        font-size: 13px;
        line-height: 150%;
        text-align: justify;
    }

    .login header .content .presentacion .bajada br, .registro header .content .presentacion .bajada br, .login header .content .presentacion .texto br, .registro header .content .presentacion .texto br {
        display: none;
    }

    .inicio .content .formulario {
        position: relative;
        top: -50px;
        right: auto;
        z-index: 999;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
    .paginador ul li.number button {
        font-size: 16px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        margin: 0 0px;
    }
    .login footer {
        width: 100%;
        height: 125px;
        bottom: -180px;
    }
    .registro footer {
        width: 100%;
        height: 125px;
        bottom: -180px;
    }
    .login footer .content, .registro footer .content {
        flex-direction: column;
        padding-top: 0;
    }

    .login footer .content img, .registro footer .content img {
        width: 58px;
        margin-bottom: 15px;
    }

    .inicio .content {
        .slider .fade .item {
            .descripcion {
                position: absolute;
                top: auto;
                bottom: 5%;
                left: 8%;
                transform: none;
                font-size: 40px;
                line-height: 110%;
                margin: 0 auto;
                width: 90%;
            }

            img {
                width: auto;
                height: 100%;
                opacity: 0.4;
            }
        }

        .formulario {
            .inner form {
                margin: 0 auto;
            }

            .ir-otro {
                margin: 0 auto;
                margin-top: 15px;
            }
        }
    }
    .detalle-producto .content .detalle .ficha-producto ul {
        padding-left: 30px;
    }
    .item-agregado {
        width: 100%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    div#tlegales .legales-content {
        width: 90%;
    }

    .login .inicio .content .slider .fade .item .descripcion,
    .registro .inicio .content .slider .fade .item .descripcion {
        top: 10px;
        left: 5%;
        bottom: auto;
        width: 90%;
    }
    .inicio .content .slider .fade .item .descripcion .bajada p:first-child {
        font-size: 16px;
    }
    .inicio .content .slider .fade .item .descripcion .bajada p:nth-child(2), .inicio .content .slider .fade .item .descripcion .bajada ul {
        font-size: 13px;
    }
    .label-wong a img {
        width: 40px;
    }
    .eventos .content .banners-home {
        flex-direction: column;

        .slider-for, .slider-nav {
            width: 100%;
        }

        .slider-for .item .label {
            width: 180px;
            height: 42px;
            padding-left: 50px;

            h2 {
                font-size: 15px;
                font-family: Times;
            }

            span {
                font-size: 11px;
            }
        }

        .slider-nav {
            .item {
                padding: 20px;
                padding-bottom: 0;

                .description {
                    &.live .content .title {
                        h2 {
                            font-size: 26px!important;
                            display: contents;
                        }

                        justify-content: center;
                        text-align: center;
                        padding: 5px 0;

                        img {
                            height: 53px;
                            margin-right: 10px;
                        }
                    }

                    .content .text {
                        text-align: center;
                        font-size: 13px!important;
                    }

                    &.live .content .text h3 {
                        font-size: 26px;

                        br {
                            display: none;
                        }
                    }

                    .content {
                        .text #tag-live {
                            margin-bottom: 30px;
                            margin-top: 20px;

                            span {
                                margin: 0 auto;
                            }
                        }

                        .cta-btn {
                            text-align: center;

                            a {
                                font-size: 14px!important;
                                width: 82%;
                                margin: 0 auto;
                            }
                        }
                    }

                    &.crono .content .title {
                        img {
                            margin: 0 auto;
                            height: 49px;
                            width: auto;
                        }

                        h2 {
                            font-size: 24px;
                            width: 100%;
                            text-align: center;

                            br {
                                display: none;
                            }
                        }
                    }

                    .content .text ul {
                        padding-left: 40px;
                        text-align: left;
                    }

                    &.sale-exclusive .content {
                        padding: 13px;

                        .title h2 {
                            font-size: 26px;
                            line-height: 28px;
                        }

                        .cta-btn {
                            text-align: left;
                            margin-bottom: 5px;
                        }
                    }

                    .content .cta-btn a.comprar {
                        background: var(--rojo);
                        position: relative;
                        padding-left: 20px;
                        width: auto;
                        height: 44px;
                        line-height: 44px;
                        font-size: 16px;
                        padding: 0 37px;
                    }

                    &.sale-exclusive .counter {
                        padding: 0px;
                        margin-top: 10px;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;

                        p {
                            width: 31%;
                            margin-left: 0;
                            margin-right: 7px;
                        }
                    }
                }
            }

            .slick-dots {
                position: relative;
            }
        }
    }

    .content-users .content .access {
        .slick-dots {
            bottom: 0;
        }

        .item {
            margin: 0 10px;
            border: 0.5px solid var(--dorado-uno);
            max-width: 269px;
            max-height: 416px;

            &:first-child {
                margin-left: 10px;
            }
        }

        padding: 30px 0 0;
        margin: 0 auto 50px;

        .slick-dots li button {
            width: 15px;
            height: 15px;
            border: 1px solid var(--dorado-uno);
            border-radius: 100%;
        }
    }
    .content-users .content .access .slick-current.slick-active .item a p {
        display: block;
    }
    .content-users .content .access .item #tag-live span {
        width: 70px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
    }
    .content-users .content .access .item  #tag-live span .dot {
        width: 8px!important;
        height: 8px!important;
    }
    .content-users .content .access .item.viva-vino a span .icon {
        width: 34px;
        height: 40px;
        padding: 8px 17px;
    }
    .content-users .content .access .item.hablemos-vino a span .icon {
        width: 34px;
        height: 37px;
        padding: 6px 14px;
    }
    .content-users .content .access .item.cata-vino a span .icon {
        width: 61px;
        height: 43px;
        padding: 12px 23px;
        margin-right: 0;
    }
    .slick-dots li button:before {
        content: none;
    }
    .cronograma .crono-table .table-content table tbody tr td:first-child {
        width: 80px;
        min-width: 80px;
    }
    .hablemos .crono-table .table-content table tbody tr td:nth-child(2) {
        width: 70px;
        min-width: 70px;
    }
    .cata .crono-table .table-content table tbody tr td:nth-child(2) {
        width: 70px;
        min-width: 70px;
    }
    .cronograma .crono-table .table-content table tbody tr td:nth-child(2) {
        width: auto;
        flex-direction: row;
    }
    .gastronomia .la-bodega .content.no-video .detalle>p:last-child {
        width: 100%;
        text-align: justify;
    }
    .contenido.gastronomia {
        background: linear-gradient(180deg,transparent,#000 10%);
    }
    .content-users .content .access {
        .slick-dots li.slick-active button {
            background: var(--dorado-uno);
        }

        .item.experto-vino .label#sale-exclusive span {
            margin-bottom: 4px;
        }
    }

    .slick-dots {
        li {
            button {
                &:before {
                    content: none;
                }
            }
        }
    }

    .bodega-home {
        .content {
            width: 95%;
            padding-top: 5px;

            > h2 {
                font-family: Times-bold;
                font-size: 28px;
                line-height: 37px;
            }

            p {
                br {
                    display: none;
                }

                font-size: 15px;
            }

            .resultados .content-result {
                justify-content: center;
                margin-bottom: 20px;

                .item {
                    width: 100%!important;
                    padding: 10px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: center;
                    justify-content: flex-start;
                    min-height: auto;

                    > img {
                        width: 40%;
                        order: 0;
                    }

                    h3 {
                        font-size: 18px;
                        padding-left: 14px;
                        width: 60%;
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                    p {
                        &.country.solo-mobile {
                            padding-left: 0;
                        }

                        text-align: left;
                        padding-left: 0;
                        font-size: 11px;
                        line-height: 145%;
                    }

                    a {
                        padding-left: 0;
                        margin: 10px 0 10px;
                    }
                }
            }

            .filtros .content .abrir-filtros {
                a {
                    border: 1px solid var(--dorado-dos);
                    display: flex;
                    width: 100%;
                    text-align: center;
                    height: 52px;
                    line-height: 52px;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    font-family: Work-Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #C5C5C5;
                    border-radius: 50px;

                    img {
                        margin-right: 15px;
                    }
                }

                margin: 20px 0 0;
                width: 100%;
            }
        }

        background: url($images-base-path + "bg_bodegas_home_m.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        margin-bottom: 60px;
    }

    footer {
        .content {
            flex-direction: column;

            img {
                margin-right: 0;
                width: 59px;
                margin-bottom: 15px;
            }
        }
    }

    #masthead {
        .container {
            .logo {
                img {
                    width: 90px;
                    transition: all .3s ease;
                }

                margin: 9px 20px;
                transition: all .3s ease;
            }

            .opciones-cabecera {
                .welcome {
                    display: none;
                }

                transition: all .3s ease;
                margin: 9px 12px;

                .carrito {
                    margin-right: 0;
                }
            }
        }
    }

    main {
        display: block;
        padding-top: 65px;
    }

    #masthead.header-fixed {
        .container {
            .logo {
                margin: 9px 20px;

                img {
                    width: 90px;
                }
            }

            .opciones-cabecera {
                margin: 9px 12px;
            }
        }
    }
    .bodega-home .content .resultados .content-result .item:nth-child(3n-4), .productos-bodega .content .vinos-bodega .content-vinos-bodega .item:nth-child(3n-4), .bodega-home .content .resultados .content-result .item:nth-child(3n-4) {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #site-nav.is-active {
        height: calc(100vh - 65px);
        justify-content: flex-start;
        background-size: cover;
        background: #000 url($images-base-path + "bg-menu-m.png") no-repeat right;
    }

    #masthead.is-active.header-fixed {
        #site-nav {
            height: calc(100vh - 65px);
            justify-content: flex-start;
        }
    }

    #masthead.is-active {
        .container {
            .opciones-cabecera {
                .welcome {
                    display: block;
                }
            }
        }
    }
    .inicio .content .slider .fade .item .descripcion .title {
        font-size: 48px!important;
    }
    .pasos-compra .content fieldset .content-pasos .paso {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        margin: 0 auto;
    }
    .pasos-compra .content fieldset {
        padding: 10px!important;
        margin: 0;
    }
    .pasos-compra .content fieldset legend {
        margin: 0 auto;
        width: 90%;
    }
    .pasos-compra .content fieldset legend h2 {
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        height: 61px;
        padding: 5px 20px;
        margin: 0 10px;
    }
    .pasos-compra .content fieldset .content-pasos .paso .num {
        font-size: 14px;
        padding: 4px 8px;
    }
    .pasos-compra .content fieldset .content-pasos {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        flex-direction: column;  
    }
    .pasos-compra .content fieldset .content-pasos .paso .paso-text {
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-direction: row;
        margin-left: 15px;
    }
    .pasos-compra .content fieldset .content-pasos .paso .paso-text img {
        margin: 0 auto;
        width: 92px;
    }
    .pasos-compra .content fieldset .content-pasos .paso .paso-text p {
        font-size: 13px;
        text-align: left;
        margin-left: 14px;
    }
    .paginador ul li.number a {
        font-size: 14px;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        line-height: 27px;
        letter-spacing: 0;
    }
    #site-nav .cronograma {
        flex-direction: column;
        justify-content: center;
    }
    #site-nav .cronograma .opcion-crono {
        width: 100%;
        text-align: center;
    }
    #site-nav .cronograma .tutorial {
        text-align: center;
        width: 100%;
    }
    .carrito-content .content .carrito-full .lista-productos .producto .descripcion .nombre a {
        margin: 0;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .bodega-home .content .filtros .content .filtro-ppal select {
        font-size: 15px;
        line-height: 26px;
        height: 42px;
        padding: 0 33px 0 15px;
        background: url(../images/select_tipo_vino.png) no-repeat scroll right 15px top 14px;
        background-size: 13px auto;
    }
    .bodega-home .content .filtros .content .filtro-ppal label {
        font-size: 17px;
    }
    
}

@media screen and (min-width: 1700px) {
    .inicio {
        .content {
            .formulario {
                top: 12%;
            }
        }
    }

    .eventos .content .banners-home .slider-nav .item {
        .description .content {
            .title h2 {
                font-size: 34px;
            }

            .text {
                font-size: 16px;
            }

            .cta-btn a {
                font-size: 17px;
                line-height: 41px;
                height: 41px;
            }
        }

        padding: 50px;
    }

    .content-users .content {
        .access {
            padding: 65px 0;
            padding-top: 85px;

            .item {
                margin: 25px;

                a img {
                    width: 300px;
                }
            }
        }

        max-width: 1500px;
        margin: 0 auto;
    }
    .inicio .content .slider .fade .item .descripcion .bajada p:first-child {
        font-size: 21px;
    }   
    .inicio .content .slider .fade .item .descripcion .bajada p:last-child {
        font-size: 16px;
    }
}

