// Paths
$images-base-path: "../images/" !default;
$fonts-base-path: "../fonts/" !default;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Slick
$slick-font-path: "../fonts/" !default;
$slick-loader-path: "../images/" !default;
$slick-font-family: "slick", serif !default;
