.login, .registro {
    position: relative;
}

.login header .content, .registro header .content {
    display: flex;
    flex-wrap: wrap;
    color: #FFF;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 25px 0;
}

.login header .content .logo h1, .registro header .content .logo h1 {
    display: none;
}

.login header .content .logo img, 
.registro header .content .logo img {
    height: 130px;
    margin: 0 auto;
}

.login header .content .presentacion, .registro header .content .presentacion {
    position: relative;
    margin: 0 auto;
}

.login header .content .presentacion:before, .registro header .content .presentacion:before {
    content: "";
    height: 187px;
    border: 1px solid var(--dorado-dos);
    position: absolute;
    left: -50px;
    top: 0px;
    z-index: 1;
    width: 0;
}

.login header .content .presentacion h2, .registro header .content .presentacion h2 {
    font-family: Times-bold;
    font-size: 31.5083px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 0;
}

.login header .content .presentacion .bajada, .registro header .content .presentacion .bajada {
    font-family: Work-Sans;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.login header .content .presentacion .texto, .registro header .content .presentacion .texto {
    font-family: Work-Sans;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.5;
}

.login .inicio .content .formulario .ir-otro {
    margin-top: 0;
    margin-bottom: 15px;

    a {
        font-size: 16px;
    }
}
div#tlegales .legales-content .legales-txt .content-legales::-webkit-scrollbar-track {
    background: rgb(35, 31, 32, 0.2);
}
div#tlegales {
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .legales-content {
        background: #F0F0F0;
        box-shadow: 0px 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
        width: 600px;
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding-left: 30px;

        a#close {
            position: relative;
            right: 0;
            left: 96%;
            color: var(--dorado-uno);
            font-size: 25px;
        }

        .legales-txt {
            color: var(--dorado-dos);
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            
            h2 {
                margin-top: 0;
                font-size: 30px;
            }

            .content-legales {
                max-height: 300px;
                overflow: auto;
                padding-right: 16px;

                h3 {
                    font-size: 20px;
                }
                a {
                    color: #524735;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }
}
footer .content .logo-footer {
    width: 60%;
    text-align: right;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

footer .content  .politicas {
    width: 40%;
    text-align: right;
    padding-right: 3%;
}

footer .content .politicas a {
    color: rgb(255, 255, 255, 0.7);
}

footer .content .politicas a:hover {
    text-decoration: underline;
}

.registro {
    position: relative;

    header {
        .content {
            display: flex;
            flex-wrap: wrap;
            color: #FFF;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding: 25px 0;

            .logo {
                h1 {
                    display: none;
                }

                img {
                    height: 130px;
                }
            }

            .presentacion {
                position: relative;
                margin-left: 50px;

                &:before {
                    content: "";
                    height: 187px;
                    border: 1px solid var(--dorado-dos);
                    position: absolute;
                    left: -50px;
                    top: 0px;
                    z-index: 1;
                    width: 0;
                }

                h2 {
                    font-family: Times-bold, serif;
                    font-size: 31.5083px;
                    line-height: 140%;
                    color: #FFFFFF;
                    margin: 0;
                }

                .bajada {
                    font-family: Work-Sans, serif;
                    font-size: 16px;
                    line-height: 140%;
                    color: #FFFFFF;
                }

                .texto {
                    font-family: Work-Sans, serif;
                    font-size: 14px;
                    line-height: 140%;
                    color: #FFFFFF;
                    opacity: 0.5;
                }
            }
        }
    }
}
.inicio .content .formulario .ir-otro p a {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4231px;
    line-height: 145%;
    color: #231F20;
    background: transparent;
    height: auto;
    display: inline;
}
.inicio .content .formulario .ir-otro p a:hover {
    text-decoration: underline;
    box-shadow: none;
}

@media screen and (max-width: 767px) {
    footer .content .politicas {
        width: 100%;
        text-align: center;
        padding-right: 0;
        margin: 0 0 30px 0;
    }
    footer .content .logo-footer {
        width: 100%;
        text-align: right;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px 0;
    }
}