@import "../variables";

.breadcrumb .content, .carrito-content .content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

main.carrito {
    background: url($images-base-path + "bg-carrito.jpg") no-repeat center top 124px;
    background-size: 100%;
}

.carrito-content .content {
    .title {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;

        h2 {
            font-family: Times-bold, serif;
            font-style: normal;
            font-size: 35px;
            line-height: 46px;
            color: #FFF;
        }

        img {
            margin-right: 30px;
        }
    }

    .carrito-vacio {
        background: rgb(0, 0, 0, 0.4);
        border: 1px solid var(--dorado-dos);
        border-radius: 5px;
        padding: 50px 0;
        margin-top: 45px;
        margin-bottom: 85px;

        .text {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;

            img {
                width: 70px;
                margin: 0 auto;
            }

            h3 {
                font-family: Times-bold, serif;
                font-style: normal;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
                text-transform: uppercase;
                color: #9E7E53;
                margin-bottom: 0;
            }

            p {
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: #FFFFFF;
            }

            .cta-btn a {
                background: var(--dorado-uno);
                border-radius: 32px;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #FFFFFF;
                padding: 0 50px;
                height: 40px;
                transition: all .3s ease;
                margin-bottom: 0;
                display: inline-flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                width: auto;
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: 500;
                margin-top: 15px;

                &:hover {
                    text-decoration: none;
                    box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
                }
            }
        }
    }

    .carrito-full {
        display: flex;
        align-items: flex-start;
        align-content: center;
        justify-content: space-between;

        .lista-productos {
            width: 68%;
            margin-right: 2%;
            background: rgb(0, 0, 0, 0.4);
            border: 1px solid var(--dorado-dos);
            border-radius: 5px;
            margin-top: 45px;
            margin-bottom: 85px;
        }

        .resumen-compra {
            width: 30%;
            background: rgb(0, 0, 0, 0.4);
            border: 1px solid var(--dorado-dos);
            border-radius: 5px;
            margin-top: 45px;
            margin-bottom: 85px;

            .subtotal {
                width: 80%;
                margin: 35px auto;

                p {
                    font-family: Work-Sans, serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 120%;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;

                    > span {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 140%;
                        text-align: right;
                        letter-spacing: -0.005em;
                        color: #9E7E53;

                        > span {
                            font-size: 22px;
                        }
                    }
                }
            }

            .note p {
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: #9E7E53;
                width: 80%;
                margin: 25px auto;
            }

            h3 {
                background: #524735;
                margin: 0;
                padding: 18px;
                font-family: Work-Sans, serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
            }

            .cta-btn {
                width: 80%;
                margin: 0 auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: center;

                a {
                    &:hover {
                        text-decoration: none;
                        box-shadow: 0 2px 8px rgba(68, 68, 68, 0.7);
                    }

                    &.comprar {
                        background: var(--dorado-uno);
                        border-radius: 32px;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 13px 0;
                        height: 48px;
                        transition: all .3s ease;
                        display: inline-flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: 300;
                        margin-bottom: 15px;
                        width: 100%;
                    }

                    &.seguir {
                        background: #121212;
                        border-radius: 32px;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 13px 0;
                        height: 48px;
                        transition: all .3s ease;
                        display: inline-flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: 300;
                        margin-bottom: 15px;
                        width: 100%;
                    }
                }
            }
        }

        .lista-productos .producto {
            &:last-child {
                border-bottom: 0;
            }

            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            color: #FFF;
            border-bottom: 1px dashed #524735;
            padding: 25px 35px;

            .imagen {
                img {
                    width: 100%;
                }

                width: 20%;
                margin: 0 auto;
                background: url($images-base-path + "elipse_fondo_botella.png") no-repeat bottom;
                background-size: contain;
            }

            .descripcion {
                width: 80%;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: space-between;

                .nombre {
                    width: 52%;

                    h4 {
                        margin: 0 15px;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 140%;
                        color: #FFFFFF;
                    }
                }

                .precio, .cantidad {
                    width: 24%;
                }

                .precio {
                    p {
                        > span {
                            display: block;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 140%;
                            letter-spacing: -0.005em;
                            color: #9E7E53;

                            > .monto {
                                font-size: 22px;
                            }
                        }

                        margin: 0 20px;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        color: #FFFFFF;
                    }

                    display: flex;
                    flex-direction: column;
                }

                .cantidad .quantity-control {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: fit-content;
                    margin: 0 auto;
                    border-bottom: 1px solid #9E7E53;
                    padding-bottom: 10px;

                    .quantity-btn {
                        background: transparent;
                        border: none;
                        outline: none;
                        margin: 0;
                        padding: 0px 8px;
                        cursor: pointer;
                        color: #FFF;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 28px;
                        text-align: center;
                    }

                    .quantity-input {
                        outline: none;
                        user-select: none;
                        text-align: center;
                        width: 47px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        border: none;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 28px;
                        text-align: center;
                        color: #FFFFFF;

                        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    main.carrito {
        background-size: 100%;
        background: url($images-base-path + "bg-carrito_m.png") no-repeat center top 65px;
    }

    .breadcrumb .content {
        width: 90%;
    }

    .carrito-content .content {
        width: 95%;

        .title {
            width: 95%;
            margin: 0 auto;

            img {
                margin-right: 5px;
                width: 47px;
            }

            h2 {
                font-size: 30px;
                line-height: 40px;
            }
        }

        .carrito-vacio {
            padding: 60px 45px;
            margin-top: 15px;
            margin-bottom: 55px;

            .text h3 {
                font-size: 18px;
                line-height: 24px;
            }
        }

        .carrito-full {
            align-content: center;
            justify-content: center;
            flex-direction: column;

            .lista-productos {
                width: 100%;
                margin-right: 0;
                margin-top: 5px;
                margin-bottom: 15px;

                .producto {
                    border-bottom: 1px solid #524735;
                    padding: 25px 15px;

                    .imagen {
                        width: 26%;
                        margin: 0 auto;
                        margin-right: 4%;
                    }

                    .descripcion {
                        width: 70%;
                        display: flex;
                        align-items: flex-start;
                        align-content: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;

                        .nombre, .precio, .cantidad {
                            width: 100%;
                        }

                        .nombre h4 {
                            margin: 0 2px;
                            font-size: 14px;
                        }

                        .precio p {
                            margin: 15px 2px;

                            > span {
                                display: inline-block;
                                margin-left: 10px;
                            }
                        }

                        .cantidad .quantity-control {
                            margin: 0 auto 0 0;
                        }
                    }
                }
            }

            .resumen-compra {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 45px;
            }
        }
    }
}

.carrito-content .content .carrito-full .lista-productos .producto .descripcion .nombre a {
    margin: 0 15px;
    display: block;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #9E7E53;
    margin-top: 25px;
}

@media screen and (min-width: 1700px) {
    main.carrito {
        padding-top: 180px;
    }
}
