@import "../variables";

.bodega-home {
    .content {
        .filtros {
            .content {
                .filtro-ppal {
                    label {
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #9E7E53;
                        opacity: 0.6;
                        margin-right: 10px;
                    }

                    select {
                        border: 1px solid #9E7E53;
                        border-radius: 34px;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 26px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        height: 46px;
                        padding: 0 40px 0 25px;
                        background: url($images-base-path + "select_tipo_vino.png") no-repeat scroll right 15px top 13px;
                        background-size: 17px auto;
                        z-index: 1;
                        cursor: pointer;
                        position: relative;
                        appearance: unset;
                        outline: none;
                        box-sizing: border-box;

                        option {
                            &:hover {
                                background: var(--dorado-uno);
                                color: var(--gris);
                            }

                            background: var(--gris);
                            color: #FFF;
                            font-size: 15px;
                        }
                    }
                }

                .otros-filtros {
                    select {
                        option {
                            background: var(--gris);
                            color: #FFF;
                            font-size: 15px;
                        }

                        appearance: unset;
                        outline: none;
                        box-sizing: border-box;
                        border: 1px solid #524735;
                        border-radius: 23px;
                        background: transparent;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #C5C5C5;
                        height: 36px;
                        padding: 0 25px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: all .3s ease;
                        display:block;

                        &:hover {
                            border: 1px solid var(--dorado-uno);
                        }

                        &:active {
                            border: 1px solid var(--dorado-uno);
                        }
                        &:focus {
                            border: 1px solid var(--dorado-uno);
                        }
                    }

                    label {
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        opacity: 0.6;
                        margin-right: 10px;
                    }

                    input {
                        border: 1px solid #524735;
                        border-radius: 23px;
                        background: transparent;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #C5C5C5;
                        height: 36px;
                        padding: 0 25px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: all .3s ease;
                        outline: none;

                        &:hover {
                            border: 1px solid var(--dorado-uno);
                        }
                        &:focus {
                            &::-webkit-input-placeholder {
                                color: transparent;
                            }
                        }
                    }

                    button {
                        border: 1px solid #524735;
                        border-radius: 23px;
                        background: transparent;
                        font-family: Work-Sans, serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #C5C5C5;
                        height: 36px;
                        padding: 0 25px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: all .3s ease;
                        outline: none;

                        &:hover {
                            border: 1px solid var(--dorado-uno);
                        }
                    }

                    input.active {
                        border: 1px solid var(--dorado-uno);
                    }

                    button.active {
                        border: 1px solid var(--dorado-uno);
                    }

                    select.pais {
                        background: url($images-base-path + 'select_filtro.png') no-repeat scroll right 15px top 10px;
                        background-size: 12px auto;
                        z-index: 1;
                        position: relative;
                    }

                    select.tipo-vino {
                        background: url($images-base-path + "select_filtro.png") no-repeat scroll right 15px top 10px;
                        background-size: 12px auto;
                        z-index: 1;
                        position: relative;
                    }

                    select.precio {
                        background: url($images-base-path + "select_precio.png") no-repeat scroll right 15px top 10px;
                        background-size: 19px auto;
                        z-index: 1;
                        position: relative;
                    }
                }
            }
        }
    }
}
.filtros .content .otros-filtros .control-filter.buscador > label {
    position: relative;
}

.filtros .content .otros-filtros .control-filter.buscador > label:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/search.png) no-repeat scroll right 0 top -5px;
    top: 0px;
    left: 14px;
}

section.filtros-mobile .filtros .control-filter select  {
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #9e7e53;
    background: transparent;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    height: 50px;
    padding: 0 24px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    background: url(../images/select_filtro.png) no-repeat scroll;
    background-position: right 15px top 18px;
    background-size: 12px auto;
    z-index: 1;
    position: relative;
    margin: 0;
    width: 100%;
}
section.filtros-mobile .filtros .control-filter.buscador input {
    display: inline-block;
    border: 0;
    border-radius: 23px;
    background: transparent;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #C5C5C5;
    height: 45px;
    padding: 0 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 10px;
    width: 90%;
    background: rgb(229, 229, 229,.2);
}
section.filtros-mobile .filtros .control-filter.buscador input:focus::-webkit-input-placeholder {
    color: transparent;
}

section.filtros-mobile .filtros .control-filter.buscador > label {
    position: relative;
}

section.filtros-mobile .filtros .control-filter.buscador > label:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 30px;
    background: url(../images/search.png) no-repeat scroll left 0 top 0;
    top: -6px;
    left: 26px;
}
section.filtros-mobile .content .filtros .control-filter.buscador {
    border-bottom: 1px solid #9e7e53;
    padding: 10px 0;
    text-align: center;
}
section.filtros-mobile .filtros .control-filter select.precio {
    background: url(../images/select_precio.png) no-repeat scroll;
    background-position: right 15px top 18px;
    background-size: 19px auto;
    z-index: 1;
    position: relative;
}

section.filtros-mobile .filtros .control-filter select option {
    background: var(--gris);
    color: var(--dorado-uno);
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #9E7E53;
    box-shadow: 0 1px 0 0 #9E7E53;
}