.login {
    footer {
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #C5C5C5;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 260px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.44%, #000000 57.49%);
        padding-bottom: 25px;
        mix-blend-mode: normal;

        .content {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 100%;
            padding-top: 130px;
        }
    }
}

.registro {
    footer {
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #C5C5C5;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 260px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.44%, #000000 57.49%);
        padding-bottom: 25px;
        mix-blend-mode: normal;

        .content {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 100%;
            padding-top: 130px;
        }
    }
}

div#tlegales {
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .legales-content {
        background: #F0F0F0;
        box-shadow: 0 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
        width: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding: 20px 20px 20px 30px;

        a#close {
            position: relative;
            right: 0;
            left: 96%;
            color: var(--dorado-uno);
            font-size: 25px;
        }

        .legales-txt {
            color: var(--dorado-dos);
            font-family: Work-Sans, serif;
            font-style: normal;
            font-weight: normal;

            .content-legales {
                max-height: 300px;
                overflow: auto;
                padding-right: 16px;
            }
        }
    }
}

footer {
    .content {
        img {
            margin-right: 20px;
        }

        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 35px 0;
        font-family: Work-Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #C5C5C5;
    }
}
