@import "../variables";

div#tlegales .legales-content .legales-txt .content-legales::-webkit-scrollbar-track {
    background: rgb(35, 31, 32, 0.2);
}

.form-registro.inner form, .form-login.inner form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
}

.inner .form-row {
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 25px;

    &.form-row-date, &.form-row-tyc {
        padding-bottom: 0;
    }

    &.form-row-btn {
        padding-bottom: 0;
        text-align: center;
    }

    &.form-row-half {
        width: 48%;
    }

    .form-holder {
        width: 50%;
        padding: 0;
        position: relative;

        &.form-holder-1 {
            width: 84.1%;
        }

        &.form-holder-2 {
            width: 100%;
            position: relative;

            &.flex {
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
    }

    .form-row-inner {
        width: 100%;
        margin-bottom: 0;
    }

    .form-holder .label {
        font-family: Work-Sans;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.02em;
        color: var(--dorado-dos);
    }

    #radio {
        color: #666;
        font-weight: 400;
        font-size: 16px;
        margin: 8px 12px;
    }

    #checkbox {
        margin: 10px 0 28px 11px;
        font-size: 15px;
        color: #666;
        font-weight: 400;
    }

    .form-holder label {
        &.special-label {
            display: inline-block;
            float: left;
            margin-top: 25px;
            padding-right: 20px;
            color: #666;
            font-size: 16px;
            font-weight: 400;
        }

        &.pay-1-label, &.pay-2-label {
            width: 190px;
            height: 95px;
            border: 1px solid #e5e5e5;
            display: block;
            cursor: pointer;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            margin-right: 15px;
            text-align: center;
            color: #666;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        &.pay-1-label img, &.pay-2-label img {
            padding-top: 15px;
            padding-bottom: 8px;
        }
    }

    &.form-row-date .form-holder {
        select {
            width: 100%;
            padding-top: 20px;
            height: 47px;
            line-height: normal;
        }

        .label {
            color: #ff6900;
            font-size: 16px;
        }
    }

    .form-holder {
        ul {
            li {
                list-style: none;
                padding: 0;
                text-align: center;
                width: 100%;
                font-size: 12px;
                color: #FFF;

                a {
                    color: #FFF;
                    margin-bottom: 5px;
                    display: block;
                    font-size: 13px;
                    line-height: 18px;
                }

                &:first-child a {
                    text-decoration: underline;
                }
            }

            padding: 0;
        }

        input, select, .enviar {
            width: 100%;
            border: none;
            appearance: unset;
            -moz-appearance: unset;
            -webkit-appearance: unset;
            -o-appearance: unset;
            -ms-appearance: unset;
            outline: none;
            -moz-outline: none;
            -webkit-outline: none;
            -o-outline: none;
            -ms-outline: none;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
        }

        .enviar {
            cursor: pointer;
        }

        input {
            font-family: 'Work-Sans';
            width: 100%;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #231F20;
            height: 32px;
            box-shadow: none;
            margin-bottom: 0;
            line-height: 24px;
            padding: 0;
            background: transparent;
            border-bottom: 1.2px solid rgb(35, 31, 32, 0.3);
        }

        .enviar {
            background: var(--dorado-uno);
            border-radius: 32px;
            font-size: 17px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
            padding: 0;
            height: 51px;
            transition: all .3s ease;
            margin-bottom: 0;
            display: inline-flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 184px;
            font-family: Work-Sans;
            font-style: normal;
            font-weight: 600;

            img {
                margin-right: 12px;
            }

            &:hover {
                text-decoration: none;
                box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.7);
            }
        }

        input {
            &#tyc {
                width: 34%;
                padding: 0;
                height: 20px;
                margin: 0;
                z-index: 9;
                top: 7px;
                pointer-events: auto;
            }

            &#pay-1, &#pay-2 {
                display: none;
            }
        }

        select {
            background: url($images-base-path + "select.png") no-repeat scroll;
            background-position: right 5px top 9px;
            background-size: 11px auto;
            z-index: 1;
            cursor: pointer;
            position: relative;
            font-family: 'Work-Sans';
            font-size: 20px;
            letter-spacing: -0.02em;
            color: #231F20;
            height: 32px;
            box-shadow: none;
            margin-bottom: 0;
            line-height: 24px;
            padding: 0;
            border-bottom: 1.2px solid rgb(35, 31, 32, 0.3);
            display: block;

            &:focus {
                border-bottom: 1.2px solid var(--dorado-uno);
            }

            &:valid {
                border-bottom: 1.2px solid var(--dorado-uno);
                font-size: 20px;
                padding-right: 20px;
            }
        }

        .form-control {
            &:focus, &:valid {
                border-bottom: 1.2px solid var(--dorado-uno);
                box-shadow: none;
            }
        }
    }
}

.form-control:focus {
    border-color: #284eb0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.inner .form-row .form-holder input {
    &#pay-1:checked + label, &#pay-2:checked + label {
        border: none;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
    }
}

.checkbox-custom {
    opacity: 0;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
}

.checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    cursor: pointer;
}

span.checkbox-custom-span {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: var(--dorado-dos);

    a {
        font-family: Work-Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.015em;
        color: var(--dorado-dos);
        text-decoration: underline;
    }
}

.checkbox-custom-label {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 22px;
    width: 22px;
    outline: none;
    margin-right: 5px;
    border-radius: 5px;
    border: 0;
}

.checkbox-custom {
    + .checkbox-custom-label:before {
        content: '';
        background: transparent;
        border: 0;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        text-align: center;
        border-radius: 1px;
        border: 1px solid var(--dorado-dos);
    }

    &:checked + .checkbox-custom-label:before {
        content: '';
        background: url($images-base-path + "check.png");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        border: 0;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        text-align: center;
        border-radius: 1px;
        border: 0;
    }

    &:focus + .checkbox-custom-label {
        outline: 1px solid #ddd;

        /* focus style */
    }
}

.login footer, .registro footer {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #C5C5C5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 260px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.44%, #000000 57.49%);
    padding-bottom: 25px;
    mix-blend-mode: normal;
}

.login footer .content, .registro footer .content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    padding-top: 130px;
}

div#tlegales {
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .legales-content {
        background: #F0F0F0;
        box-shadow: 0px 9.61541px 19.2308px rgba(0, 0, 0, 0.25);
        width: 600px;
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 3px;
        padding-left: 30px;

        a#close {
            position: relative;
            right: 0;
            left: 96%;
            color: var(--dorado-uno);
            font-size: 25px;
        }

        .legales-txt {
            color: var(--dorado-dos);
            font-family: Work-Sans;
            font-style: normal;
            font-weight: normal;
            
            h2 {
                margin-top: 0;
                font-size: 30px;
            }

            .content-legales {
                max-height: 300px;
                overflow: auto;
                padding-right: 16px;

                h3 {
                    font-size: 20px;
                }
                a {
                    color: #524735;
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }
}
