/*Fonts*/
@font-face {
    font-family: 'Work-Sans';
    src: url('../fonts/WorkSans-Regular.eot');
    src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans-Regular.woff') format('woff'),
        url('../fonts/WorkSans-Regular.ttf') format('truetype'),
        url('../fonts/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url('../fonts/WorkSans-Medium.eot');
    src: url('../fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans-Medium.woff') format('woff'),
        url('../fonts/WorkSans-Medium.ttf') format('truetype'),
        url('../fonts/WorkSans-Medium.svg#WorkSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work-Sans';
    src: url('../fonts/WorkSans-SemiBold.eot');
    src: url('../fonts/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WorkSans-SemiBold.woff') format('woff'),
        url('../fonts/WorkSans-SemiBold.ttf') format('truetype'),
        url('../fonts/WorkSans-SemiBold.svg#WorkSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times';
    src: url('../fonts/Times.eot');
    src: url('../fonts/Times.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Times.woff') format('woff'),
        url('../fonts/Times.ttf') format('truetype'),
        url('../fonts/Times.svg#Times') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Times-bold';
    src: url('../fonts/Times-Bold.eot');
    src: url('../fonts/Times-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Times-Bold.woff') format('woff'),
        url('../fonts/Times-Bold.ttf') format('truetype'),
        url('../fonts/Times-Bold.svg#Times-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*:focus, 
*:active,
*:hover {
    outline: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
a {
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: var(--gris); 
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dorado-uno);
  transition: background .3s ease; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dorado-dos); 
}
section.previa .content {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

section.previa .content .img img {
    width: 100%;
    height: 100%;
}

section.previa .content .texto {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
section.previa .content .texto img {
    max-width: 370px;
    margin: 0 auto;
}
section.previa .content .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 54px 0;
}

section.previa .content .footer img {
    max-width: 230px;
    margin: 0 auto;
}

section.previa .content .texto h2 {
    font-family: Times-bold;
    font-style: normal;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.67);
    position: relative;
    margin-bottom: 23px;
    padding-bottom: 23px;
}

section.previa .content .texto p {
    font-family: Work-Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.8;
}

section.previa .content .texto h2:before {
    content: "";
    position: absolute;
    width: 34px;
    border-bottom: 1px solid #9E7E53;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
section.previa .content .texto a {
    background: #9e7e53;
    border-radius: 32px;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    padding: 0 60px;
    height: 45px;
    transition: all .3s ease;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: auto;
    font-family: Work-Sans;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}
section.previa .content .texto a:hover {
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(68,68,68,.7);
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    section.previa .content .img {
        text-align: center;
    }
    section.previa .content .img img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
    }
    section.previa .content .texto h2 {
        font-size: 40px;
    }
    section.previa .content .texto p {
        font-size: 30px;
    }
}

/* Landscape */
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    section.previa .content .img img {
        width: auto;
        height: 100vh;
        object-fit: contain;
        object-position: center;
    }
}*/

@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { 
    section.previa .content .img img {
        width: 100%;
        height: 85vh;
    }
    section.previa .content .img img {
        width: 100%;
        height: 85vh;
    }
}

@media screen and (max-width: 767px) {
    section.previa .content .texto img {
        max-width: 70%;
        margin: 0 auto;
    }
    section.previa .content .texto {
        width: 95%;
    }
    section.previa .content .texto h2 {
        font-size: 26px;
        margin: 0 auto;
        margin-bottom: 23px;
        padding-bottom: 23px;
        width: 91%;
    }
    section.previa .content .texto p {
        font-size: 18px;
    }
    section.previa .content .footer {
        padding: 35px 0;
    }
    section.previa .content .footer img {
        max-width: 180px;
        margin: 0 auto;
    }
    section.previa .content {
        position: relative;
        height: auto;
        overflow: hidden;
    }

}
/* 1792x828px at 326ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
    section.previa .content .img img {
        width: 100%;
        height: 80vh;
    }
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 
    section.previa .content .img img {
        width: 100%;
        height: 80vh;
    }
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
    section.previa .content .img img {
        width: 100%;
        height: 80vh;
    }
}


@media screen and (max-width: 320px) {
  section.previa .content .texto h2 {
    font-size: 23px;
  }
  section.previa .content {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  section.previa .content .img img {
    width: 100%;
    height: 100vh;
    }

  section.previa .content .texto p {
    font-size: 16px;
  }
}

